# Prepared by Sunil Zambare

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

## Keywords
#### Keywords are the reserved words in Python and can't be used as an identifier

In [2]:
print(keyword.kwlist) # List all Python Keywords(Total 36 )

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Python contains 36 keywords (Python version 3.10 )

In [3]:
len(keyword.kwlist)

36

## Identifiers
#### An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

In [4]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid syntax (2026980919.py, line 1)

In [5]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: invalid syntax (619048856.py, line 1)

In [6]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (2492423719.py, line 1)

In [7]:
"""
Correct way of defining an identifier 
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z)
"""
val2 = 10

In [8]:
val_ = 99

In [9]:
print(val2)

10

In [10]:
print(val_)

99

In [11]:
type(val2)

int

In [12]:
len(val_) #TypeError: object of type 'int' has no len()

TypeError: object of type 'int' has no len()

# Comments in Python

##  Comments can be used to explain the code for more readabilty.

In [13]:
# Single line comment
val1 = 10

In [14]:
# Multiple 
# line 
# comment
val1 = 77

In [15]:
'''
Multiple 
line 
comment
'''
val1 = 10

In [16]:
"""
Multiple 
line 
comment
"""
val1 = 10

# Statements
### Instructions that a Python interpreter can execute

In [17]:
# Single line statement
s1 = 40 + 30
s1

70

In [18]:
# Single line statement
d2 = ['a' , 'b' , 'c' , 'd']
d2

['a', 'b', 'c', 'd']

In [19]:
# Multiple line statement
p1 = 20 + 30 \
   + 40 + 50 +\
   + 70 + 80
p1

290

In [20]:
# Multiple line statement
p2 = ['a' , 
 'b' , 
 'c' , 
 'd'
 ]

In [21]:
p2

['a', 'b', 'c', 'd']

# Indentation
Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses
indentation to indicate a block of code.If the indentation is not correct we will endup with **IndentationError error**

In [22]:
k = 10
if k == 10:
    print ('k is equal to 10') # correct indentation

k is equal to 10

In [23]:
# if indentation is skipped we will encounter " IndentationError: expected an indented block"
n = 10
if n  == 10:
print ('n is equal to 10')

IndentationError: expected an indented block (522300017.py, line 4)

In [24]:
for i in range(0,5):
    print(i) # correct indentation

0
1
2
3
4

In [25]:
# if indentation is skipped we will encounter "IndentationError: expected an indented block
for i in range(0,5):
print(i)

IndentationError: expected an indented block (4120457795.py, line 3)

In [26]:
for i in range(0,5): print(i) # correct indentation but less readable

0
1
2
3
4

In [27]:
j=20
for i in range(0,5):
    
    print(i) # inside the for loop
print(j) # outside the for loop

0
1
2
3
4
20

# Docstrings
1) Docstrings provide a convenient way of associating documentation with functions, classes,
   methods or modules. <br>
   
   
2) They appear right after the definition of a function, method, class, or module

In [31]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2

In [32]:
square(2)

4

In [33]:
square.__doc__ # We can access the Docstring using __doc__ method

'Square Function :- This function will return the square of a number'

In [34]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a number is Even or Odd'''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [35]:
evenodd(5)

Odd Number

In [36]:
evenodd(8)

Even Number

In [37]:
evenodd.__doc__

'evenodd Function :- This function will test whether a number is Even or Odd'

# Variables
1) A Python variable is a reserved memory location to store values. <br>
2) A variable is created the moment you first assign a value to it.

In [38]:
s = 100

In [39]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
                          - Guaranteed to be unique
                          - Constant for this object during its lifetime. 
'''

'\nid() function returns the “identity” of the object. \nThe identity of an object - Is an integer\n                          - Guaranteed to be unique\n                          - Constant for this object during its lifetime. \n'

In [40]:
id(s)

1424674805200

In [42]:
hex(id(s)) # Memory address of the variable

'0x14bb53c55d0'

In [43]:
p = 20 #Creates an integer object with value 20 and assigns the variable p
q = 20 # Create new reference q which will point to value 20.
r = q # variable r will also point to the same location where p & q are pointing.

In [44]:
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x14bb5396b90'

(20, int, '0x14bb5396b90')

In [45]:
q , type(q), hex(id(q))

(20, int, '0x14bb5396b90')

In [46]:
r, type(r), hex(id(r))

(20, int, '0x14bb5396b90')

In [47]:
# p = q = r = 20 =====> '0x14bb5396b90'

In [48]:
p = 20
p = p + 10 # Variable Overwriting
p

30

# Variable Assigment

In [49]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

# Multiple Assignments

In [50]:
intvar , floatvar , strvar = 10,2.57,"Python Language" 
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [51]:
p1 = p2 = p3 = p4 = 7007    # All variables pointing to same value
print(p1,p2,p3,p4)

7007 7007 7007 7007

# Data Types

# Numeric

In [52]:
val1 = 10 # Integer data type
print(val1)

10

In [53]:
print(type(val1)) # type of object

<class 'int'>

In [54]:
print(sys.getsizeof(val1)) # size of integer object in bytes

28

In [55]:
print(val1, " is Integer?", isinstance(val1, int))

10  is Integer? True

In [56]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float))

92.78
<class 'float'>
24
92.78  is float? True

In [58]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of complex object in bytes
print(val3, " is complex?", isinstance(val3, complex))

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [59]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [60]:
sys.getsizeof(float()) # size of float object in bytes

24

In [61]:
sys.getsizeof(complex()) # size of complex object in bytes

32

# Boolean
Boolean data type can have only two possible values **true or false.**

In [62]:
bool1 = True

In [63]:
bool2 = False

In [64]:
print(type(bool1))

<class 'bool'>

In [65]:
print(type(bool1))

<class 'bool'>

In [66]:
isinstance(bool1, bool)

True

In [67]:
bool(0)

False

In [68]:
bool(1)

True

In [69]:
bool(None)

False

In [70]:
bool(False)

False

# Strings

In [71]:
str1 = "Hello Sunil"

In [72]:
print(str1)

Hello Sunil

In [73]:
mystr = 'Hello Sunil' # Define string using single quotes
print(mystr)

Hello Sunil

In [74]:
mystr = "Hello Sunil" # Define string using double quotes
print(mystr)

Hello Sunil

In [75]:
mystr = '''Hello 
           Sunil ''' # Define string using triple quotes
print(mystr)

Hello
           Sunil

In [76]:
mystr = ('Happy '
         'Sunday '
         'Everyone')
print(mystr)

Happy Sunday Everyone

In [81]:
mystr2 = '# Star performer # '
mystr2 = mystr2 * 5
mystr2

'# Star performer # # Star performer # # Star performer # # Star performer # # Star performer # '

In [82]:
len(mystr2) # Length of string

95

# String Indexing

In [83]:
str1

'Hello Sunil'

In [84]:
str1[0] # First character in string "str1"

'H'

In [85]:
str1[len(str1)-1] # Last character in string using len function

'l'

In [86]:
str1[-1] # Last character in string

'l'

In [87]:
str1[6] #Fetch 7th element of the string

'S'

In [88]:
str1[5]

' '

# String Slicing

In [89]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location

'Hello'

In [90]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index location

'Sunil'

In [91]:
str1[-4:] # Retreive last four characters of the string

'unil'

In [92]:
str1[-6:] # Retreive last six characters of the string

' Sunil'

In [93]:
str1[:4] # Retreive first four characters of the string

'Hell'

In [94]:
str1[:6] # Retreive first six characters of the string

'Hello '

# Update & Delete String

In [95]:
str1

'Hello Sunil'

In [98]:
#Strings are immutable which means elements of a string cannot be changed once they have been assigned.
str1[0:5] = 'Pune region'

TypeError: 'str' object does not support item assignment

In [99]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

# String concatenation

In [101]:
# String concatenation
s1 = "Hello"
s2 = "Everyone"
s3 = s1 +" "+ s2
print(s3)

Hello Everyone

# Iterating through a String

In [102]:
mystr1 = "Have a Nice Day"

In [103]:
# Iteration 
for i in mystr1:
    print(i)

H
a
v
e

a

N
i
c
e

D
a
y

In [104]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'a')
(2, 'v')
(3, 'e')
(4, ' ')
(5, 'a')
(6, ' ')
(7, 'N')
(8, 'i')
(9, 'c')
(10, 'e')
(11, ' ')
(12, 'D')
(13, 'a')
(14, 'y')

In [105]:
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'a'),
 (2, 'v'),
 (3, 'e'),
 (4, ' '),
 (5, 'a'),
 (6, ' '),
 (7, 'N'),
 (8, 'i'),
 (9, 'c'),
 (10, 'e'),
 (11, ' '),
 (12, 'D'),
 (13, 'a'),
 (14, 'y')]

# String Membership

In [106]:
# String membership
mystr1 = "Hello Everyone"
print ('Hello' in mystr1) # Check whether substring "Hello" is present in string 
print ('Everyone' in mystr1) # Check whether substring "Everyone" is present in string
print ('Hi' in mystr1) # Check whether substring "Hi" is present in string "mystr1"

True
True
False

# String Partitioning

In [107]:
"""
The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and") 
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

# String Functions

In [110]:
mystr2 = "    Hello Everyone     "
mystr2

'    Hello Everyone     '

In [111]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [112]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

'    Hello Everyone'

In [113]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone     '

In [115]:
mystr2 = "*********Hello Everyone***********All the Best For Online Exam**********"
mystr2

'*********Hello Everyone***********All the Best For Online Exam**********'

In [116]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best For Online Exam'

In [117]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best For Online Exam'

In [118]:
mystr2 = " Hello Everyone "

In [119]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [120]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [121]:
mystr2.replace("He" , "HI") #Replace substring "He" with "Ho"

' HIllo Everyone '

In [122]:
mystr2.replace(" " , "") # Remove all whitespaces using replace function

'HelloEveryone'

In [123]:
mystr5 = "one two Three one two two three"

In [124]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [125]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [126]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [127]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [128]:
mystr4 = "one two three four one two two three five five six seven six seven one"

In [129]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one']

In [130]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [131]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [132]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100) # center align the string using a specific character
print(str2)

                                          WELCOME EVERYONE

In [133]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100,'*') # center align the string using a specific character 
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [134]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character
print(str2)

                                 WELCOME EVERYONE

In [135]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character
print(str2)

******************************** WELCOME EVERYONE

In [136]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [137]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0 - 9)

False
True
True
True

In [138]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or number
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [139]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [141]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [143]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [144]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [145]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [146]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

# Using Escape Character

In [147]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (739327747.py, line 2)

In [148]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

# List
1) List is an ordered sequence of items. <br> 
2) We can have different data types under a list. 
   E.g we can have integer, float and string items ina same list.

In [149]:
lists = [] #empty list

In [150]:
print(lists)

[]

In [151]:
print(type(lists))

<class 'list'>

In [152]:
list1 = [1,2,3,4,5,10.9,True,False]

In [153]:
print(list1)

[1, 2, 3, 4, 5, 10.9, True, False]

In [154]:
list5 = ['Sunil', 25 ,[50, 100],[150, 90]] # Nested Lists

In [155]:
list6 = [100, 'Sunil', 100.2] # List of mixed data types

In [156]:
len(list6) #Length of list

3

# List Indexing

In [158]:
list5[0] # Retreive first element of the list

'Sunil'

In [160]:
list5[0] # Retreive first element of the list

'Sunil'

In [161]:
list5[0][0]

'S'

In [162]:
list5[-1] # Last item of the list

[150, 90]

# List Slicing

In [163]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [164]:
mylist[0:3] # Return all items from 0th to 3rd index

['one', 'two', 'three']

In [165]:
mylist[2:5] # List all items from 2nd to 5th index

['three', 'four', 'five']

In [166]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [167]:
mylist[:2] # Return first two items

['one', 'two']

In [168]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [169]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [170]:
mylist[-1] # Return last item of the list

'eight'

In [171]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add , Remove & Change Items

In [172]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [173]:
mylist.append('nine') # Add an item to the end of the list 
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [174]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [175]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [176]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [177]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [178]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [179]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [180]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [181]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [182]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

# Copy List

In [183]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [184]:
mylist1 = mylist # Create a new reference "mylist1"

In [185]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(1424792516288, 1424792516288)

In [186]:
mylist2 = mylist.copy() # Create a copy of the list

In [187]:
id(mylist2) # The address of mylist2 will be different from mylist

1424792486464

In [188]:
mylist[0] = 1

In [189]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [190]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# Join Lists

In [191]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [192]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [193]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# List Membership

In [194]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [195]:
'one' in list1 # Check if 'one' exist in the list

True

In [196]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [197]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [198]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

# Reverse & Sort List

In [199]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [200]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [201]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [202]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [203]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [204]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [205]:
mylist4

[88, 65, 33, 21, 11, 98]

# Loop through a list

In [206]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [207]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [208]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [209]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [210]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [211]:
list10.count('two') # Occurence of item 'two' in the list

2

In [212]:
list10.count('four') #Occurence of item 'four' in the list

1

# All / Any
### The all() method returns:
#### True - If all elements in a list are true
##### False - If any element in a list is false
##### The any() function returns True if any element in the list is True. If not, any() returns False.

In [213]:
L1 = [1,2,3,4,0]

In [214]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [215]:
any(L1) # Will Return True as we have items in the list with True value

True

In [216]:
L2 = [1,2,3,4,True,False]

In [217]:
all(L2) # Returns false as one value is false

False

In [218]:
any(L2) # Will Return True as we have items in the list with True value

True

In [219]:
L3 = [1,2,3,True]

In [220]:
any(L3) # Will Return True as we have items in the list with True value

True

# List Comprehensions
### List Comprehensions provide an elegant way to create new lists.
### It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [221]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehension
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [222]:
mylist1 = [ i for i in range(40) if i % 2 == 0] # Display all even numbers between range 0 to 40
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [223]:
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between range 0 to 40
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [224]:
mylist3 = [num**2 for num in range(10)] # calculate square of all numbers between 0 to 10
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [225]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1] # expression for item in list
list1

[20, 30, 40, 50, 60, 70, 80]

In [226]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [231]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [232]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

# Tuples
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
   change the elements of a tuple once assigned.<br>
2. When we do not want to change the data over time, tuple is a preferred data type.<br>
3. Iterating over the elements of a tuple is faster compared to iterating over a list.
   Tuple Creation

In [233]:
tup1 = () # Empty tuple

In [8]:
tup2 = (10,30,60) # tuple of integers numbers

In [9]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers

In [10]:
tup4 = ('one','two' , "three") # tuple of strings

In [11]:
tup5 = ('Sunil', 25 ,(50, 100),(150, 90)) # Nested tuples

In [12]:
tup6 = (100, 'Sunil', 17.765) # Tuple of mixed data types

In [13]:
tup7 = ('Sunil', 25 ,[50, 100],[150, 90] , {'Warner' , 'David'} , (99,22,33))

# Tuple Indexing

In [14]:
tup2[0] # Retreive first element of the tuple

10

In [15]:
tup4[0] # Retreive first element of the tuple

'one'

In [16]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple element

'o'

In [17]:
tup4[-1] # Last item of the tuple

'three'

In [18]:
tup5[-1] # Last item of the tuple

(150, 90)

# Tuple Slicing

In [19]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [20]:
mytuple[0:3] # Return all items from 0th to 3rd index location

('one', 'two', 'three')

In [21]:
mytuple[2:5] # List all items from 2nd to 5th index location

('three', 'four', 'five')

In [22]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [23]:
mytuple[:2] # Return first two items

('one', 'two')

In [24]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [25]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [26]:
mytuple[-1] # Return last item of the tuple

'eight'

In [27]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change Items

In [28]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [29]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [30]:
del mytuple # Deleting entire tuple object is possible

# Loop through a tuple

In [31]:
mytuple

NameError: name 'mytuple' is not defined

In [33]:
mytup=('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
for i in mytup:
    print(i)

one
two
three
four
five
six
seven
eight

In [35]:
for i in enumerate(mytup):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [36]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [37]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [38]:
mytuple1.count('two') # Number of times item "two" occurred in the tuple.

2

In [39]:
mytuple1.count('four') # Number of times item "four" occurred in the tuple.

1

# Tuple Membership

In [40]:
newtup = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [41]:
'one' in newtup # Check if 'one' exist in the list

True

In [42]:
'ten' in newtup # Check if 'ten' exist in the list

False

In [43]:
if 'three' in newtup: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
     print('Three is not present in the tuple')

Three is present in the tuple

In [45]:
if 'eleven' in newtup: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
     print('eleven is not present in the tuple')

eleven is not present in the tuple

# Index Position

In [46]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [47]:
mytuple1.index('one') # Index of first element equal to 'one'

0

In [51]:
mytuple1.index('five') # Index of first element equal to 'five'

ValueError: tuple.index(x): x not in tuple

# Sorting

In [52]:
mytuple2 = (43,67,99,12,6,90,67)

In [53]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [54]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

# Sets
1) Unordered & Unindexed collection of items. <br>
2) Set elements are unique. Duplicate elements are not allowed. <br>
3) Set elements are immutable (cannot be changed).<br>
4) Set itself is mutable. We can add or remove items from it.

## Set Creation

In [55]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [56]:
len(myset) #Length of the set

5

In [57]:
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [58]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [59]:
myset2 = {'Sunil' , 'Rahul' , 'Santosh' , 'Anil', 'Ram','Tushar','Prashant'} # Set of Strings
myset2

{'Anil', 'Prashant', 'Rahul', 'Ram', 'Santosh', 'Sunil', 'Tushar'}

In [60]:
myset3 = {10,20, "December", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'December'}

In [61]:
myset3 = {10,20, "NGI-Nasrapur", [11, 22, 32]} # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [62]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [63]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

# Loop through a Set

In [64]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

six
two
eight
one
four
three
seven
five

In [65]:
for i in enumerate(myset):
    print(i)

(0, 'six')
(1, 'two')
(2, 'eight')
(3, 'one')
(4, 'four')
(5, 'three')
(6, 'seven')
(7, 'five')

# Set Membership

In [66]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [67]:
'one' in myset # Check if 'one' exist in the set

True

In [68]:
'ten' in myset # Check if 'ten' exist in the set

False

In [69]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [70]:
if 'eleven' in myset: # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

# Add & Remove Items

In [71]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [72]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [73]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using u
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [74]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [75]:
myset.clear() # Delete all items in a set
myset

set()

In [76]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

# Copy Set

In [77]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [78]:
myset1 = myset # Create a new reference "myset1" 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [79]:
id(myset) , id(myset1) # The address of both myset & myset1 will be the same

(2210206325888, 2210206325888)

In [80]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [81]:
id(my_set) # The address of my_set will be different from myset because my_set

2210206326560

In [82]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [83]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [84]:
my_set # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation
## Union

In [85]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [86]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [87]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
A.union(B, C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [89]:
"""
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [90]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [91]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [92]:
A.intersection(B) Intersection of A and B

SyntaxError: invalid syntax (3871018507.py, line 1)

In [93]:
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

# Difference

In [94]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [95]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [96]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [97]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [98]:
B.difference(A)

{6, 7, 8}

In [99]:
"""
Updates the set calling the difference_update() method with the difference of set
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

# Symmetric Difference

In [100]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [101]:
A ^ B # Symmetric difference =====> Set of elements in A and B but not in both.

{1, 2, 3, 6, 7, 8}

In [102]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [103]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetr
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subset , Superset & Disjoint

In [104]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [105]:
B.issubset(A) # Set B is said to be the subset of set A

True

In [106]:
A.issuperset(B) # Set A is said to be the superset of set B

True

In [107]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

True

In [108]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

False

# Other Builtin functions

In [109]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
sum(A)

45

In [111]:
max(A)

9

In [112]:
min(A)

1

In [113]:
len(A)

9

In [114]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [115]:
D = sorted(A, reverse = True)

In [116]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# Dictionary
1) Dictionary is a mutable data type in Python. <br>
2) A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
   in curly braces {}. <br>
3) Keys must be unique in a dictionary, duplicate values are allowed

# Create Dictionary

In [117]:
mydict = dict() # empty dictionary
mydict

{}

In [118]:
mydict = {} # empty dictionary
mydict

{}

In [119]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [120]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [121]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [122]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [123]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [124]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [125]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [128]:
mydict = {1:'one' , 2:'two' , 'A':['Sunil' , 'Rohit' , 'Virat']} 
mydict

{1: 'one', 2: 'two', 'A': ['Sunil', 'Rohit', 'Virat']}

In [129]:
mydict = {1:'one' , 2:'two' , 'A':['Sunil' , 'Rohit' , 'Virat'], 'B':('Bat' , 'cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['Sunil', 'Rohit', 'Virat'],
 'B': ('Bat', 'cat', 'hat')}

In [130]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'b': None, 'd': None, 'a': None}

In [131]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of keys
mydict3

{'c': 10, 'b': 10, 'd': 10, 'a': 10}

In [132]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of keys
mydict3

{'c': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30], 'a': [10, 20, 30]}

In [133]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

# Accessing Items

In [134]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [135]:
mydict[1] # Access item using key

'one'

In [136]:
mydict.get(1) # Access item using get() method

'one'

In [137]:
mydict1 = {'Name':'Sunil' , 'ID': 239 , 'DOB': 1984 , 'Role' :'Data Scientist'}
mydict1

{'Name': 'Sunil', 'ID': 239, 'DOB': 1984, 'Role': 'Data Scientist'}

In [138]:
mydict1['Name'] # Access item using keys

'Sunil'

In [140]:
mydict1.get('Role') # Access item using get() method

'Data Scientist'

# Add, Remove & Change Items

In [141]:
mydict1 = {'Name':'Sunil' , 'ID': 239 , 'DOB': 1984 , 'Address' : 'Pune'}
mydict1

{'Name': 'Sunil', 'ID': 239, 'DOB': 1984, 'Address': 'Pune'}

In [143]:
mydict1['DOB'] = 1986 # Changing Dictionary Items
mydict1['Address'] = 'Mumbai'
mydict1

{'Name': 'Sunil', 'ID': 239, 'DOB': 1986, 'Address': 'Mumbai'}

In [144]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Sunil', 'ID': 239, 'DOB': 1995, 'Address': 'Mumbai'}

In [145]:
mydict1['Role'] = 'Sr Data Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Sunil',
 'ID': 239,
 'DOB': 1995,
 'Address': 'Mumbai',
 'Role': 'Sr Data Analyst'}

In [147]:
mydict1.pop('Role') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Sunil', 'ID': 239, 'DOB': 1995, 'Address': 'Mumbai'}

In [148]:
mydict1.popitem() # A random item is removed

('Address', 'Mumbai')

In [149]:
mydict1

{'Name': 'Sunil', 'ID': 239, 'DOB': 1995}

In [150]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Sunil', 'DOB': 1995}

In [151]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [152]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [153]:
mydict = {'Name':'Sunil' , 'ID': 12345 , 'DOB': 1985 , 'Address' : 'Pune'}
mydict

{'Name': 'Sunil', 'ID': 12345, 'DOB': 1985, 'Address': 'Pune'}

In [154]:
mydict1 = mydict # Create a new reference "mydict1"

In [155]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2210193058432, 2210193058432)

In [156]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [157]:
id(mydict2) # The address of mydict2 will be different from mydict

2210193058176

In [158]:
mydict['Address'] = 'Mumbai'

In [159]:
mydict

{'Name': 'Sunil', 'ID': 12345, 'DOB': 1985, 'Address': 'Mumbai'}

In [160]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Sunil', 'ID': 12345, 'DOB': 1985, 'Address': 'Mumbai'}

In [161]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Sunil', 'ID': 12345, 'DOB': 1985, 'Address': 'Pune'}

# Loop through a Dictionary

In [165]:
mydict1 = {'Name':'Sunil' , 'ID': 12345 , 'DOB': 1987 , 'Address' : 'Pune', 'Role' :'Sr Data Scientist' }
mydict1

{'Name': 'Sunil',
 'ID': 12345,
 'DOB': 1987,
 'Address': 'Pune',
 'Role': 'Sr Data Scientist'}

In [166]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Sunil
ID : 12345
DOB : 1987
Address : Pune
Role : Sr Data Scientist

In [167]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Sunil
12345
1987
Pune
Sr Data Scientist

# Dictionary Membership

In [168]:
mydict1 = {'Name':'sunil' , 'ID': 12345 , 'DOB': 1984 , 'Position': 'Analyst'}
mydict1

{'Name': 'sunil', 'ID': 12345, 'DOB': 1984, 'Position': 'Analyst'}

In [169]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [170]:
'sunil' in mydict1 # Membership test can be only done for keys.

False

In [171]:
'Sunil' in mydict1 # Membership test can be only done for keys.

False

In [172]:
'ID' in mydict1

True

In [173]:
'Address' in mydict1

False

# All / Any
The **all()** method returns: <br>
 - **True** - If all all keys of the dictionary are true <br>
 - **False** - If any key of the dictionary is false <br>
The **any()** function returns True if any key of the dictionary is True. If not, any() returns False.

In [174]:
mydict1 = {'Name':'Sunil' , 'ID': 12345 , 'DOB': 1987 , 'Job': 'Analyst'}
mydict1

{'Name': 'Sunil', 'ID': 12345, 'DOB': 1987, 'Job': 'Analyst'}

In [175]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [176]:
any(mydict1) # Will Return True as we have items in the dictionary with True value

True

In [177]:
mydict1[0] = 'test1'
mydict1

{'Name': 'Sunil', 'ID': 12345, 'DOB': 1987, 'Job': 'Analyst', 0: 'test1'}

In [178]:
all(mydict1) # Returns false as one value is false

False

In [179]:
any(mydict1) # Will Return True as we have items in the dictionary with True value

True

# Dictionary Comprehension

In [180]:
double = {i:i*2 for i in range(10)} #double each value using dict comprehension
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [181]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [182]:
key = ['one' , 'two' , 'three' , 'four' , 'five']
value = [1,2,3,4,5]
mydict = {k:v for (k,v) in zip(key,value)} # using dict comprehension to create dictionary with zip function
mydict

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [183]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()} # Divide all values in a dictionary
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [184]:
str1 = "Natural Language Processing"
mydict2 = {k:v for (k,v) in enumerate(str1)} # Store enumerated values in a dictionary
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [185]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

# Word Frequency using dictionary

In [186]:
mystr4 = "one two three four one two two three five five six seven six seven one one"

In [187]:
mylist = mystr4.split() # Split String into substrings

In [188]:
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one']

In [189]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1

['six', 'two', 'one', 'four', 'three', 'seven', 'five']

In [190]:
# Calculate frequenct of each word
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
    for j in range(len(mylist)):
        if mylist1[i] == mylist[j]:
            count1[i] += 1
    mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'six': 2, 'two': 3, 'one': 4, 'four': 1, 'three': 2, 'seven': 2, 'five': 2}

# Operators
### Operators are special symbols in Python which are used to perform operations on variables/values

# Arithmetic Operators

In [192]:
a = 5
b = 2
x = 'Sunil'
y = 'Zambre'
# Addition
c = a + b
print('Addition of {} and {} will give :- {}\n'.format(a,b,c))
#Concatenate string using plus operator
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z))
 
# Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n'.format(b,a,c))
 
# Multiplication
c = a * b 
print('Multiplying {} and {} will give :- {}\n'.format(a,b,c))
 
# Division
c = a / b
print('Dividing {} by {} will give :- {}\n'.format(a,b,c))
 
# Modulo of both number 
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a,b,c))
 
# Power 
c = a ** b
print('{} raised to the power {} will give :- {}\n'.format(a,b,c))
# Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

Addition of 5 and 2 will give :- 7

Concatenate string 'x' and 'y' using '+' operaotr :- SunilZambre

Subtracting 2 from 5 will give :- 3

Multiplying 5 and 2 will give :- 10

Dividing 5 by 2 will give :- 2.5

Modulo of 5 , 2 will give :- 1

5 raised to the power 2 will give :- 25

Floor division of 5 by 2 will give :- 2

# Comparison Operators

### Comparison operators are used to compare values

In [193]:
x = 20
y = 30
print('Is x greater than y :- ',x>y)
print('\nIs x less than y :- ',x<y)
print('\nIs x equal to y :- ',x==y)
print('\nIs x not equal to y :- ',x!=y)
print('\nIs x greater than or equal to y :- ',x>=y)
print('\nIs x less than or equal to y :- ',x<=y)

Is x greater than y :-  False

Is x less than y :-  True

Is x equal to y :-  False

Is x not equal to y :-  True

Is x greater than or equal to y :-  False

Is x less than or equal to y :-  True

In [196]:
a = 'Sunil'
b = 'ZAMBARE'
c = 'Sunil'
a == b , a == c , a != b # Comparison operators on string

(False, True, True)

# Logical Operators

In [197]:
x = True
y = False
print('Logical AND operation :- ',x and y) # True if both values are true
print('Logical OR operation :- ',x or y) # True if either of the values is true
print('NOT operation :- ',not x ) # True if operand is false

Logical AND operation :-  False
Logical OR operation :-  True
NOT operation :-  False

# Bitwise operators
### Bitwise operators act on bits and performs bit by bit operation

In [198]:
x = 18 # binary form 10010
y = 6 # binary form 00110
print('Bitwise AND operation - {}'.format(x&y))
print('Bitwise OR operation - {}'.format(x|y))
print('Bitwise XOR operation - {}'.format(x^y))
print('Bitwise NOT operation - {}'.format(~x))
print('Bitwise right shift operation - {}'.format(x>>2))
print('Bitwise left shift operation - {}'.format(x<<2))

Bitwise AND operation - 2
Bitwise OR operation - 22
Bitwise XOR operation - 20
Bitwise NOT operation - -19
Bitwise right shift operation - 4
Bitwise left shift operation - 72

# Assignment Operators

In [199]:
x = 10
print('Initialize x with value 10 (x=10)) :- ',x)
x+=20 # x = x+20
print ('Add 20 to x :- ',x)
x-=20 # x = x-20
print ('subtract 20 from x :- ',x)
x/=10 # x = x/10
print ('Divide x by 10 :- ',x)
x*=10 # x = x/10
print ('Multiply x by 10 :- ',x)
x = int(x)
x**=2 # x = x/10
print ('x raised to the power 2 :- ',x)
x%=2
print ('Modulo Division :- ',x)
x = 20
x//=3
print ('Floor Division :- ',x)
x&=2
print('Bitwise AND :- ',x)
x|=2
print('Bitwise OR :- ',x)
x^=2
print('Bitwise XOR :- ',x)
x = 10
x<<=2
print('Bitwise left shift operation',x)
x>>=2

Initialize x with value 10 (x=10)) :-  10
Add 20 to x :-  30
subtract 20 from x :-  10
Divide x by 10 :-  1.0
Multiply x by 10 :-  10.0
x raised to the power 2 :-  100
Modulo Division :-  0
Floor Division :-  6
Bitwise AND :-  2
Bitwise OR :-  2
Bitwise XOR :-  0
Bitwise left shift operation 40

# Membership Operators
### Membership Operators are used to test whether a value / variable is present in a sequence.

In [200]:
mystr = 'Sunil S Zambare'
'Sunil' in mystr , 'Rohit' in mystr

(True, False)