# Day-1: Python Programming Language

In [1]:
print("Hello Sunil")

Hello Sunil

In [2]:
print("Greetings from Sunil")
print("Good Morning")

Greetings from Sunil
Good Morning

In [3]:
print('Greetings from Sunil')
print('Good Morning')

Greetings from Sunil
Good Morning

In [4]:
Print("Good Morning")

NameError: name 'Print' is not defined

In [5]:
print "Good Morning"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Good Morning")? (501484024.py, line 1)

In [6]:
print("Good 
      Morning")

SyntaxError: EOL while scanning string literal (1445869143.py, line 1)

In [7]:
"Good Morning"

'Good Morning'

In [8]:
"Good Morning"
print("HI Sunil")

HI Sunil

In [9]:
print("""Good 
Morning""")

Good
Morning

In [10]:
print(""" Independence Day is celebrated annually on 15 August as a public holiday in India commemorating the nation's independence from the United Kingdom on 15 August 1947, the day when the provisions of the Indian Independence Act, which transferred legislative sovereignty to the Indian Constituent Assembly, came into effect. India retained King George VI as head of state until its transition to a republic, when the Constitution of India came into effect on 26 January 1950 (celebrated as Indian Republic Day) and replaced the dominion prefix, Dominion of India, with the enactment of the sovereign law Constitution of India. India attained independence following the independence movement noted for largely non-violent resistance and civil disobedience.

Independence coincided with the partition of India, in which British India was divided along religious lines into the Dominions of India and Pakistan; the partition was accompanied by violent riots and mass casualties, and the displacement of nearly 15 million people due to religious violence. On 15 August 1947, the first Prime Minister of India, Jawaharlal Nehru raised the Indian national flag above the Lahori Gate of the Red Fort in Delhi. On each subsequent Independence Day, the incumbent Prime Minister customarily raises the flag and gives an address to the nation.[1] The entire event is broadcast by Doordarshan, India's national broadcaster, and usually begins with the shehnai music of Ustad Bismillah Khan. Independence Day is observed throughout India with flag-hoisting ceremonies, parades and cultural events. It is a national holiday.""")

 Independence Day is celebrated annually on 15 August as a public holiday in India commemorating the nation's independence from the United Kingdom on 15 August 1947, the day when the provisions of the Indian Independence Act, which transferred legislative sovereignty to the Indian Constituent Assembly, came into effect. India retained King George VI as head of state until its transition to a republic, when the Constitution of India came into effect on 26 January 1950 (celebrated as Indian Republic Day) and replaced the dominion prefix, Dominion of India, with the enactment of the sovereign law Constitution of India. India attained independence following the independence movement noted for largely non-violent resistance and civil disobedience.

Independence coincided with the partition of India, in which British India was divided along religious lines into the Dominions of India and Pakistan; the partition was accompanied by violent riots and mass casualties, and the displacement of nearly 15 million people due to religious violence. On 15 August 1947, the first Prime Minister of India, Jawaharlal Nehru raised the Indian national flag above the Lahori Gate of the Red Fort in Delhi. On each subsequent Independence Day, the incumbent Prime Minister customarily raises the flag and gives an address to the nation.[1] The entire event is broadcast by Doordarshan, India's national broadcaster, and usually begins with the shehnai music of Ustad Bismillah Khan. Independence Day is observed throughout India with flag-hoisting ceremonies, parades and cultural events. It is a national holiday.

In [11]:
print("""Good
Morning 
from
to all
peoples 
on 
planet
""")

Good
Morning
from
to all
peoples
on
planet

## Comments

In [12]:
#Say hello to everybody
#print("Hi Sunil")

In [13]:
#Say hello to everybody
print("Hi Sunil")

Hi Sunil

# Multiline comments

In [14]:
"""
Hello everyone python is easy language

"""
print("Hi Sunil")

Hi Sunil

In [15]:
#more exceptional cases in print statement
print("Hi my name is "Sunil" ")

SyntaxError: invalid syntax (1461339017.py, line 2)

In [16]:
print("My name is \'sunil\' ")

My name is 'sunil'

In [17]:
print('My name is "sunil" ')

My name is "sunil"

In [18]:
print("My name is 'sunil' ")

My name is 'sunil'

In [19]:
print("""Hi my name is "sunil"!!""" )

Hi my name is "sunil"!!

## Example to Run program in jupyter notebook use shortcut press [Shift + Enter]

In [20]:
123 + 456 #Sum of two numbers

579

In [21]:
123 * 456

56088

In [22]:
123 / 456

0.26973684210526316

In [23]:
123 ** 2  #power of 123 raised to 2

15129

In [24]:
123 % 2 #modulo operator which gives you remainder

1

In [25]:
12 % 12

0

In [26]:
15 % 3

0

In [27]:
3 % 2

1

In [28]:
123 * 456
print("Result")

Result

In [29]:
print(123 * 456)
print("Result")

56088
Result

In [30]:
print("123 * 456 ")
print("Result")

123 * 456
Result

# Variables in python

## Variables in python

### Variables in python

#### Variables in python

##### Variables in python

# Variables in python

In [31]:
x = 100
print(x)

100

In [32]:
y = 200
print(200)

200

In [33]:
print(x + y)

300

In [34]:
print(x * y)
print(x / y)

20000
0.5

1.Variable name should be starts with alphabets

In [35]:
seven = 7
seven_number = 7
sevenNumber = 7

2. Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

In [36]:
seven* = 7

SyntaxError: invalid syntax (4028414183.py, line 1)

In [37]:
seven % number = 7

SyntaxError: cannot assign to operator (3088463594.py, line 1)

In [38]:
six = 6
six_number = 6
six%number = 6
sixNumber = 6

SyntaxError: cannot assign to operator (1471231486.py, line 3)

In [39]:
six = 6
six_number = 6
six/number = 6
sixNumber = 6

SyntaxError: cannot assign to operator (2004592706.py, line 3)

3.Variable names can contain numbers but you can't start with numbers.

In [40]:
ten10 = 10

In [41]:
10ten = 10

SyntaxError: invalid syntax (3011706180.py, line 1)

In [42]:
__num = 100 #hidden variable

4. Its not a strict rule that you should variable names with a Captial letter. But its recommended to use small letters for the variables

In [43]:
Ten = 10

In [44]:
ten number = 10

SyntaxError: invalid syntax (2602638772.py, line 1)

In [45]:
ten_number = 10

In [46]:
_ = 10 #dummy variable

# Fundamental data types

### 1. integer or int

In [47]:
a = 7

In [48]:
type(a)

int

In [49]:
b = 99999
type(b)

int

### 2.float - numbers containing decimal numbers

In [50]:
pi = 3.14

In [51]:
type(pi)

float

In [52]:
pi = 22 / 7

In [53]:
pi

3.142857142857143

In [54]:
x = 4.0
type(x)

float

### 3. complex numbers

In [55]:
a = 3 + 7j
a

(3+7j)

In [56]:
type(a)

complex

In [57]:
a.real

3.0

In [58]:
a.imag

7.0

### 4. Dynamic typing

In [59]:
a = 27
type(a)
a = 27.2
type(a)

float

In [60]:
a = 23
print(type(a))
a = 23.2
print(type(a))
a = "Sunil" 
print(type(a))
a = 'Sunil' 
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [61]:
print(a)

Sunil

In [62]:
a = 24
print(type(a))
a = 24.2
print(type(a))
a = "24.2" 
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [63]:
"Day " + 1

TypeError: can only concatenate str (not "int") to str

In [64]:
23.5 + 1

24.5

In [65]:
"Day " + "1"

'Day 1'

In [66]:
23 + 24

47

In [67]:
"23" + "24"

'2324'

In [68]:
"23" + 24

TypeError: can only concatenate str (not "int") to str

In [69]:
'23' + "24"

'2324'

In [70]:
"Sunil" + "Zambare"

'SunilZambare'

In [71]:
"Sunil " + "Zambare"

'Sunil Zambare'

In [72]:
a = 1 # int data type
b = 1.2 # float data type
c = "Sunil" # string data type 
f = 1 + 2j # complex data type # rarely used

In [73]:
print("Learning is never ending process...!")

Learning is never ending process...!

In [74]:
print("i'm very happy beacuse python is very easy language")

i'm very happy beacuse python is very easy language

In [75]:
language = "python"
print("Today i learn basic of " + language + " language" ) ## allowed but rarely used

Today i learn basic of python language

In [76]:
# f -> formatted string method
language = "Python"
print(f"Today i learn basic concept of {language} language") # current standard approach used in python

Today i learn basic concept of Python language

In [77]:
language = "Python"
print("Today i learn basic concept of {} language".format(language)) # old way

Today i learn basic concept of Python language

In [78]:
language = "Python"
print("Today i learn basic concept of programming {language}")

Today i learn basic concept of programming {language}

In [79]:
# f -> formatted string method
num = "first"
language = "Python"
print(f"Today is the {num} Day of Learning {language} language") # current standard approach used in python

Today is the first Day of Learning Python language

In [80]:
num = "first"
language = "Python"
print("Today is the {} Day of Learning {} language".format(num, language))

Today is the first Day of Learning Python language

In [81]:
num = "first"
language = "Python"
print("Today is the "+num+" Day of Learning "+language+" language")

Today is the first Day of Learning Python language

In [82]:
a = 200
b = 400
c = a + b
print(f"the result sum of two nums a: {a} and b: {b} is ={c}")

the result sum of two nums a: 200 and b: 400 is =600

### 5.Boolean ---->True False

In [83]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [84]:
study_python_at = 1 
you_start_at = 2

Sunil_understood_all_concepts = you_start_at < study_python_at

print(f"Sunil You understood everything?: {Sunil_understood_all_concepts}")

Sunil You understood everything?: False

In [85]:
study_python_at = 5
you_start_at = 2

Sunil_understood_all_concepts = you_start_at < study_python_at

print(f"Sunil You understood everything?: {Sunil_understood_all_concepts}")

Sunil You understood everything?: True

In [86]:
# = means assignment
# == means comparing equality
is_raining = False

umbralla_available = False

go_to_college = is_raining == umbralla_available # Cop

go_to_college

True

In [87]:
numA = 15
numB = 7
numA == numB

False

In [88]:
numA = 9
numB = 9
numA == numB

True

In [89]:
numA = 13
numB = 13
numA > numB

False

In [90]:
numA = 15
numB = 15
numA >= numB

True

In [91]:
"Sunil " + " Shahaji" + " Zambare"

'Sunil  Shahaji Zambare'

In [92]:
"My name is \"Sunil \" "

'My name is "Sunil " '

In [93]:
print("\"")

"

In [94]:
print(""" " """)

 "

In [95]:
print(""" / """)

 /

In [96]:
name = "Tasgaon"
print(f"Welcome to Grape City: {name}")

Welcome to Grape City: Tasgaon

In [97]:
pincode = 416311
print(f"My village pincode number is: {pincode}")

My village pincode number is: 416311

In [98]:
a = 200
b = 300
c = 400
__result__ = a+b+c
print(f"sum = {__result__}")

sum = 900

In [99]:
z = 2+5j

In [100]:
z.real

2.0

In [101]:
z.imag

5.0

## <<<<<  Thank You...... Have a nice Day  >>>>>>