# 1.Variable Case sensitivity

In [1]:
TEN = 10
ten = 20
# TEN and ten both are different in terms of lowercase and uppercase letter

In [2]:
 print(Ten)

NameError: name 'Ten' is not defined

In [3]:
Ten

NameError: name 'Ten' is not defined

In [4]:
TEN

10

In [5]:
ten

20

# 2.Reserved words in Python
Reserved words in Python
https://docs.python.org/2.5/ref/keywords.html

1.We should not use reserved words as variable names. <br>
2.Also python doesn't restrict the user to use reserved keywords as variable names

In [6]:
print("Hello Sir.. How are you")

Hello Sir.. How are you

In [7]:
print = "Hello Sir.. How are you" #As a variable

In [8]:
type(print)

str

In [9]:
print("Hello Sir.. How are you")

TypeError: 'str' object is not callable

In [10]:
print = 12 # as a variable
type(print)

int

In [11]:
print("Hello Sir.. How are you")

TypeError: 'int' object is not callable

In [12]:
del print # delete the variable print

In [13]:
print("Hello Sir.. How are you")

Hello Sir.. How are you

In [14]:
Print = "Hi there" # as a variable
type(Print)

str

In [15]:
print("Hi there")

Hi there

In [16]:
print = 10

In [17]:
type(print)

int

In [18]:
del print

In [19]:
print("Sunil")

Sunil

# 3.Multi assignment of variables

In [26]:
a, b, c, yes, no = 100, 200.5, "Sunil", True, False

In [27]:
type(a)

int

In [28]:
type(b)

float

In [29]:
type(c)

str

In [30]:
type(yes)

bool

In [31]:
type(no)

bool

In [32]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))
print(type(no))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [33]:
# a,b,c = 10

In [34]:
a,b,c = 10,10,10

In [35]:
a, A, c, C = 10, 20.5, "Sunil", True

In [36]:
print(a, A, c, C)

10 20.5 Sunil True

In [37]:
a=b=c=10

In [38]:
a,b,c

(10, 10, 10)

In [39]:
firstName, middleName, sirName = "Sunil", "Shahaji", "Zambare"

In [40]:
print(f"{firstName}.{sirName}@gmail.com")

Sunil.Zambare@gmail.com

In [41]:
name, place, year_of_birth, weight = "Sunil", "Tasgaon", 1984, 85.90

In [42]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My weight is: {weight} in Kgs
""")

My name is: Sunil
I live at: Tasgaon
I was born in: 1984
My weight is: 85.9 in Kgs

# 4.User input

In [43]:
name = input("Enter your Name: ")

print(f"You have entered: {name}")

Enter your Name: Sunil Zambare
You have entered: Sunil Zambare

In [44]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A+B}")

Enter value of A: 400
Enter value of B: 300
Sum of A and B is: 400300

In [45]:
print("Sum of A and B is: {A+B}")

Sum of A and B is: {A+B}

In [46]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(type(A), type(B))

Enter value of A: 10
Enter value of B: 20
<class 'str'> <class 'str'>

In [47]:
name = input("Name: ")
place = input("place: ")
year_of_birth = input("year_of_birth: ")

Name: Sunil Zambare
place: Dongarsoni Ayodhyanagar
year_of_birth: 1984

In [48]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
""")

My name is: Sunil Zambare
I live at: Dongarsoni Ayodhyanagar
I was born in: 1984

In [49]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sunil
place: Dongarsoni
year_of_birth: 1984

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [51]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = int(input("year_of_birth: ")) # convert this into integer

age = 2023 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sunil Zambare
place: Dongarsoni
year_of_birth: 1984

My name is: Sunil Zambare
I live at: Dongarsoni
Sunil Zambare is of age: 39

In [52]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # convert this into integer

age = 2022 - int(year_of_birth)

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sunil Zambare
place: Dongarsoni
year_of_birth: 1984

My name is: Sunil Zambare
I live at: Dongarsoni
Sunil Zambare is of age: 38

In [54]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ") # convert this into integer
current_year = input("current year: ")
age = int(current_year) - int(year_of_birth)

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: Sunil Zambare
place: Dongarsoni
year_of_birth: 1984
current year: 2023

My name is: Sunil Zambare
I live at: Dongarsoni
Sunil Zambare is of age: 39

# 5.Type conversion
We can convert the data type of one variable into another if it is allowed.

In [55]:
A = int(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(type(A), type(B))

Enter value of A: 10
Enter value of B: 20
<class 'int'> <class 'int'>

In [56]:
print(f"Sum of A and B is: {A+B}")

Sum of A and B is: 30

In [57]:
int A

SyntaxError: invalid syntax (2077884358.py, line 1)

In [59]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 15.4
Enter value of B: 12.3
Sum of A and B is: 27.700000000000003

In [60]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: "))

print(f"Sum of A and B is: {A+B}")

Enter value of A: 23.05
Enter value of B: 10
Sum of A and B is: 33.05

In [61]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 20.5 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 20.5
Enter value of B: 20.5

ValueError: invalid literal for int() with base 10: '20.5'

In [62]:
# String to integer
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")

A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type after: <class 'int'>, value of A: 50

In [63]:
# String to integer
A = "50.22" # entering float
print(f"data type before: {type(A)}, value of A: {A}")

A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: invalid literal for int() with base 10: '50.22'

In [64]:
# float to integer
A = 50.22
print(f"data type before: {type(A)}, value of A: {A}")

A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

In [65]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")

A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [66]:
# integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

# True in binary - 1              False in binary - 0

In [67]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [68]:
# integer to boolean
A = 1
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 1
data type after: <class 'bool'>, value of A: True

NOTE: Converting any non zero number and string values into boolean will give True as an answer

NOTE: Empty string "" will give False as an answer after converting from string to boolean

In [69]:
# integer to boolean
A = -5
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of A: True

In [71]:
# string to boolean
A = "Sunil"
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: Sunil
data type after: <class 'bool'>, value of A: True

In [72]:
# string to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [73]:
# string to boolean
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of A: True

In [74]:
# empty string to boolean
A = ""
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [75]:
# empty string to boolean
A = " "
print(f"data type before: {type(A)}, value of A: {A}")

A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: True

In [76]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")

A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

# 6.Memory block

In [77]:
a = 45
b = 70
c = 100

In [78]:
id(a) # memory address

2426452602544

In [79]:
id(b)

2426452791824

In [80]:
id(c)

2426452792784

In [81]:
c = 100 + b

In [82]:
id(c)

2426452795024

In [83]:
a = 45
id(a)

2426452602544

In [84]:
a = 85
id(a)

2426452792304

Memory is assigned to the value of variable passed not the variable name

In [85]:
a = 45
b = 70
c = 100 

print(id(a), id(b), id(c))

2426452602544 2426452791824 2426452792784

In [86]:
a = "Sunil"
b = 34
c = "Zambare"

print(id(a), id(b), id(c))

2426568044784 2426452602192 2426568351792

In [89]:
a = "S"    #2426453701872
b = 70
c = "Z"
d = "S"    #2426453701872

print(id(a), id(b), id(c), id(d))

2426453701872 2426452791824 2426462115696 2426453701872

In [90]:
a = 100
b = 70
c = 100.0 

print(id(a), id(b), id(c))

2426452792784 2426452791824 2426568442608