## Arithmatic Operators addition(+),subtraction(-), multiplication(*), true division(precision) /, integer division(floor divion) //,the modulo operator %

In [1]:
# Usecase or examples 
var_a = 2
var_b = 14
integer_division = var_b // var_a
print(f"integer division: {var_b} / {var_a} = {integer_division}")

integer division: 14 / 2 = 7

In [2]:
var_a = 3
var_b = 26
integer_division = var_b // var_a
print(f"integer division: {var_b} / {var_a} = {integer_division}")

integer division: 26 / 3 = 8

In [3]:
var_a = 2
var_b = 14
remainder = var_b % var_a
print(f"remainder: {var_b} / {var_a} is {remainder}")

remainder: 14 / 2 is 0

In [4]:
var_a = 3
var_b = 26
remainder = var_b % var_a
print(f"remainder: {var_b} / {var_a} is {remainder}")

remainder: 26 / 3 is 2

In [5]:
A = 23
B = 24

A + B

47

In [6]:
A - B

-1

In [7]:
A / B

0.9583333333333334

In [8]:
A // B

0

In [9]:
A = 5
B = 2

A // B

2

In [10]:
A % B

1

In [12]:
A % B

2

In [13]:
A = 75
B = 2 

if A % B == 0:
    print(f"A: {A} is divisible by B: {B}")
else:
    print(f"A: {A} is NOT divisible by B: {B}")

A: 75 is NOT divisible by B: 2

In [14]:
A = 74
B = 2 

if A % B == 0:
    print(f"A: {A} is divisible by B: {B}")
else:
    print(f"A: {A} is NOT divisible by B: {B}")

A: 74 is divisible by B: 2

In [16]:
A = 35
B = 3 

if A % B == 0:
    print(f"A: {A} is divisible by B: {B}")
else:
    print(f"A: {A} is NOT divisible by B: {B}")

A: 35 is NOT divisible by B: 3

In [17]:
A = 4

A**(1/2)

2.0

# String methods
if N characters or elements are there in a string then

the index range will vary from 0 to N-1 for example is "Sunil" N = 5 index value is ranging from 0 to 4

to index in reverse order the index ranges from -1 to -N

In [18]:
# String indexing
#        0 1 2 3 4
#       -5-4-3-2-1
name = "Sunil"

name[0]

'S'

In [19]:
name[4]

'l'

In [20]:
name[-1]

'l'

In [21]:
name[-5]

'S'

In [22]:
# String slicing 
#        0 1 2 3 4
#       -5-4-3-2-1
name = "Sunil"

name[1:] # [starting : ending]

'unil'

In [23]:
name[1:3] # This means that ending is excluded

'un'

In [24]:
name[1:4]

'uni'

In [25]:
name[1:5] # 5 is not included

'unil'

In [26]:
name[-4:-1]

'uni'

In [28]:
# index 0123456789
date = "06/05/2023"

# today's date, Month and year

today_s_date = date[0:2]
month = date[3:5]
year = date[6:]

print(f"its {today_s_date}th of the month: {month} of the year: {year}")

its 06th of the month: 05 of the year: 2023

In [29]:
# index 0123456789
data = input("enter date of birth in the format DD/MM/YYYY: ")

# today's date, Month and year

date = data[0:2]
month = data[3:5]
year = data[6:]

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

enter date of birth in the format DD/MM/YYYY: 14/10/1986
The user was born in the month of 10 in the year: 1986 on date: 14

In [31]:
# index 0123456789                              012345678
data = input("enter date of birth in the format DD/MMM/YYYY: ")

# today's date, Month and year

date = data[0:2]
month = data[3:6]
year = data[7:]

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

enter date of birth in the format DD/MMM/YYYY: 14/OCT/1986
The user was born in the month of OCT in the year: 1986 on date: 14

In [32]:
name = "Sunil" # S_n_l

name[0:5:2] # start: ending: step

'Snl'

In [33]:
name[0::2] # start: ending: step

'Snl'

In [34]:
# step is 3 -> S__i_
name[0:5:3] # start: ending: step

'Si'

In [35]:
name = "Sunil Shahaji Zambare"

name[0::2]

'SnlSaaiZmae'

In [36]:
name = "Sunil Shahaji Zambare"

name[0::3]

'SiShiaa'

In [37]:
name = "Sunil Shahaji Zambare"

name[::2]

'SnlSaaiZmae'

In [38]:
name = "Sunil Shahaji Zambare"

name[::3]

'SiShiaa'

In [39]:
name = "Sunil Shahaji Zambare"

name[::-1]

'erabmaZ ijahahS linuS'

In [40]:
name = "Sunil Shahaji Zambare"

name[::-2]

'eamZiaaSlnS'

In [41]:
# Palindrome sequence 
# read from left or right it will be same
#nitin, arora, malayalam, nayan, bob, radar, rotor, abba, anna, nursesrun 

data = input("input a string: ")
reverse = data[::-1]     # start: end: step

print(data, reverse)

input a string: nitin
nitin nitin

In [42]:
data = input("input a string: ")
reverse = data[::-1]       # start: end: step

if data == reverse:
    print(f"input string: {data} is palindrome")
else:
    print(f"input string: {data} is NOT a palindrome")

input a string: malayalam
input string: malayalam is palindrome

In [43]:
data = input("input a string: ")
reverse = data[::-1] # start: end: step

if data == reverse:
    print(f"input string: {data} is palindrome")
else:
    print(f"input string: {data} is NOT a palindrome")

input a string: Sunil
input string: Sunil is NOT a palindrome

# Mutability
Mutable means subject to change or which can be changed

In [44]:
name = "Sunil"

# Replace Su with A?

name[0] = "F"       # immutablility  # String

TypeError: 'str' object does not support item assignment

In [45]:
"A" + name[1:]

'Aunil'

In [46]:
name = "A" + name[1:]

name

'Aunil'

In [47]:
name = name.replace("l", "LLL")
name

'AuniLLL'

In [48]:
name

'AuniLLL'

In [49]:
name = "Sunil SHAHAJI ZAMBARE"

name = name.replace("Sunil", "SUNSUN")

In [50]:
name

'SUNSUN SHAHAJI ZAMBARE '

In [51]:
name = "Sunil SHAHAJI ZAMBARE"

name = name.replace("ni", "NI")
name

'SuNIl SHAHAJI ZAMBARE'

https://docs.python.org/3/library/string.html

In [52]:
name = "Sunil SHAHAJI ZAMBARE"

name = name.replace(" ", "_")
name

'Sunil_SHAHAJI_ZAMBARE'

## length of the string

In [53]:
len(name)

21

In [54]:
len("Sunil")

5

In [57]:
len("Sunil  ")

7

In [58]:
name = " Sunil   "

name = name.replace(" ", "")
len(name)

5

String indexing
String slicing
String skipping
String reversal
String replace method
length of the string
String is immutable because we cannot directly assign any value using indexing

In [59]:
name = "Sunil Shahaji Zambare"
name[4]

'l'

In [61]:
name = "Sunil Shahaji Zambare"
name[4:17]

'l Shahaji Zam'

In [62]:
name = "Sunil Shahaji Zambare"
name[::3]

'SiShiaa'

In [63]:
name =  "Sunil Shahaji Zambare"
name[::-1]

'erabmaZ ijahahS linuS'

In [64]:
name.replace(" ", "=")

'Sunil=Shahaji=Zambare'

In [65]:
name = "Sunil Shahaji Zambare"
len(name)

21

In [66]:
name[0] = "A" # This is not allowed

TypeError: 'str' object does not support item assignment

In [67]:
name[::-2]

'eamZiaaSlnS'

In [68]:
name[4:19:3]

'lha m'

In [69]:
name[-5:-5:]

''

## Count specific characters in a string

In [71]:
name = "Sunil Shahaji Zambare"

name.count("a")

4

## Split operation

In [72]:
name = "Sunil Shahaji Zambare"
name.split(" ")

['Sunil', 'Shahaji', 'Zambare']

In [73]:
first_name, middle_name, sir_name = name.split(" ")

print(f"""
 First name: {first_name}
Middle name: {middle_name}
   Sir name: {sir_name}
""")

 First name: Sunil
Middle name: Shahaji
   Sir name: Zambare

In [74]:
# index 0123456789                              012345678
data = input("enter date of birth in the format DD/MMM/YYYY: ")

# today's date, Month and year

date, month, year = data.split("/")

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

enter date of birth in the format DD/MMM/YYYY: 14/OCT/1986
The user was born in the month of OCT in the year: 1986 on date: 14

In [76]:
data = input("Enter date of birth in the format DD/MMM/YYYY: ")
data.split("/")

Enter date of birth in the format DD/MMM/YYYY: 14/OCT/1986

['14', 'OCT', '1986']

In [77]:
name = "Sunil_Shahaji_Zambare"

name.split("_")

['Sunil', 'Shahaji', 'Zambare']

In [78]:
name.split("a")

['Sunil_Sh', 'h', 'ji_Z', 'mb', 're']

In [79]:
name.split(".")

['Sunil_Shahaji_Zambare']

In [80]:
date = input("Enter the date in DD/MM/YYYY: ")
date.split("/")

Enter the date in DD/MM/YYYY: 14/October/1986

['14', 'October', '1986']

In [81]:
A,B,C = date.split("/")

print(A, B, C)

14 October 1986

In [82]:
A = date.split("/")
A

['14', 'October', '1986']

In [83]:
A[0]

'14'

In [84]:
A[1]

'October'

In [85]:
len(A)

3

## lower upper, title case etc

In [86]:
name = "Sunil Mangal Shahaji Zambare"

name.lower()

'sunil mangal shahaji zambare'

In [87]:
name.upper()

'SUNIL MANGAL SHAHAJI ZAMBARE'

In [90]:
name = input("Enter your name: ")

print(f"User input: {name}")
print(f"Name in upper case: {name.upper()}")
print(f"Name in lower case: {name.lower()}")
print(f"Name in title case: {name.title()}") 
print(f"Name in capitalize case: {name.capitalize()}")
print(f"Name in swapcase case: {name.swapcase()}")

Enter your name: kavERI
User input: kavERI
Name in upper case: KAVERI
Name in lower case: kaveri
Name in title case: Kaveri
Name in capitalize case: Kaveri
Name in swapcase case: KAVeri

In [91]:
name = "Dont think about the RESULT because result put pressure on Us"

print(f"user input: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}") # 
print(f"name in capitalize case: {name.capitalize()}")
print(f"name in swapcase case: {name.swapcase()}")

user input: Dont think about the RESULT because result put pressure on Us
name in upper case: DONT THINK ABOUT THE RESULT BECAUSE RESULT PUT PRESSURE ON US
name in lower case: dont think about the result because result put pressure on us
name in title case: Dont Think About The Result Because Result Put Pressure On Us
name in capitalize case: Dont think about the result because result put pressure on us
name in swapcase case: dONT THINK ABOUT THE result BECAUSE RESULT PUT PRESSURE ON uS

In [92]:
name = "Never Give Up"

"*".join(name)

'N*e*v*e*r* *G*i*v*e* *U*p'

In [93]:
name = "If You Want To Shine Like A Sun First You Burn Like Sun"

"_".join(name)

'I_f_ _Y_o_u_ _W_a_n_t_ _T_o_ _S_h_i_n_e_ _L_i_k_e_ _A_ _S_u_n_ _F_i_r_s_t_ _Y_o_u_ _B_u_r_n_ _L_i_k_e_ _S_u_n'

In [94]:
name = "Sunil Mangal Shahaji Zambare"

"|".join(name)

'S|u|n|i|l| |M|a|n|g|a|l| |S|h|a|h|a|j|i| |Z|a|m|b|a|r|e'

In [95]:
name = "Sunil Mangal Shahaji Zambare"

" ".join(name)

'S u n i l   M a n g a l   S h a h a j i   Z a m b a r e'

In [96]:
name = "Sunil Mangal Shahaji Zambare"

name.replace(" ", "|")

'Sunil|Mangal|Shahaji|Zambare'

In [97]:
"".join(reversed(name))

'erabmaZ ijahahS lagnaM linuS'

In [98]:
name[::-1]

'erabmaZ ijahahS lagnaM linuS'

## Remove extra spaces front and back of the string.

In [99]:
name = "  Sunil  "

name.strip(" ")

'Sunil'

In [100]:
name = "  Sunil   "

name.lstrip(" ")

'Sunil   '

In [101]:
name = "  Sunil   "

name.rstrip(" ")

'  Sunil'

In [102]:
name = "  Sunil   "

name.strip(" ")

'Sunil'

In [103]:
name = "==Sunil Shahaji Zambare===="

name.strip("=")

'Sunil Shahaji Zambare'

In [104]:
name = "  Sunil Shahaji Zambare  "

name.replace(" ", "")

'SunilShahajiZambare'

## Fromatting

In [105]:
name = "Sunil"

name.center(20, "#")

'#######Sunil########'

In [106]:
name = "Sunil"

name.center(10, "#")

'##Sunil###'

In [107]:
name = "Lord Ganesh"

name.center(20, "*")

'****Lord Ganesh*****'

## Checking string cases [imp]

In [108]:
name = "SUNIL"

name.isupper()

True

In [109]:
name = "Sunil"

name.isupper()

False

In [111]:
name = "Sunil"

name.islower()

False

In [112]:
name = "sunil"

name.islower()

True

In [113]:
name = "Sunil"

name.isspace()

False

In [114]:
name = "Sunil"

name.istitle()

True

In [115]:
name = "Sunil "

name.isspace()

False

In [116]:
name = "   "

name.isspace()

True

In [117]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"Wrong input please try again!!")
else:
    print(f"wrong input we need to autocorrect it")
    name = name.title()
    print(f"Correct output: {name}")

Enter your name:
user input:
wrong input we need to autocorrect it
Correct output:

In [120]:
name = input("Enter your name: ")

print(f"User input: {name}")

if name.istitle():
    print(f"User has given correct input")
elif name.isspace():
    print(f"Wrong input please try again!!")
else:
    print(f"Wrong input we need to autocorrect it")
    name = name.title()
    print(f"Correct output: {name}")

Enter your name: sunil shahaji zambare
User input: sunil shahaji zambare
Wrong input we need to autocorrect it
Correct output: Sunil Shahaji Zambare

In [121]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"Wrong input please try again!!")
else:
    print(f"wrong input we need to autocorrect it")
    name = name.title()
    print(f"Correct output: {name}")

Enter your name: Sunil Zambare
user input: Sunil Zambare
user has given correct input

In [122]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"Wrong input please try again!!")
else:
    print(f"wrong input we need to autocorrect it")
    name = name.title()
    print(f"Correct output: {name}")

Enter your name: suNIL SHAHaji zamBARE
user input: suNIL SHAHaji zamBARE
wrong input we need to autocorrect it
Correct output: Sunil Shahaji Zambare

In [124]:
phone_number = "1987054301"
phone_number.isdigit()

True

In [125]:
phone_number = "1987054301techtech"
phone_number.isdigit()

False

In [126]:
phone_number = input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"User input is correct")
else:
    print("Invalid input")

Enter your phone no: 7654322109
User input is correct

In [128]:
phone_number = input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"User input is correct")
else:
    print("Invalid input")

Enter your phone no: 876954 4561
Invalid input

In [129]:
phone_number = input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone no: 76543218900012
invalid input

In [130]:
phone_number = input("Enter your phone no: ")

if phone_number.isdigit() and len(phone_number) == 10 and phone_number != "0000000000":
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone no: 00000000000
invalid input

In [131]:
phone_number.startswith("0")

True

In [132]:
phone_number.endswith("0")

True

In [133]:
phone_number = "+919087897501"

phone_number.startswith("+91")

True

In [134]:
phone_number[1:]

'919087897501'

In [135]:
phone_number[1:].isdigit()

True

In [136]:
len(phone_number)==13

True

In [137]:
phone_number = "+910000000000"

phone_number.count("0")

10

In [138]:
phone_number = input("Enter your Indian phone no: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your Indian phone no: +919899870651
user input is correct

In [140]:
phone_number = input("Enter your Indian phone no: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your Indian phone no: +959087896543
invalid input

In [141]:
phone_number = input("Enter your Indian phone no: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number)==13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your Indian phone no: 917876544302
invalid input

In [142]:
PAN_NUMBERS = "AYEPC5656X"
PAN_NUMBERS.isalnum() # Check for alpha numeric case

True

In [143]:
PAN_NUMBERS = "789789789"
PAN_NUMBERS.isalnum() # Check for alphabets or numeric case

True

In [145]:
PAN_NUMBERS = "SUNIL"
PAN_NUMBERS.isalnum() # Check for alphabets or numeric case

True

In [146]:
PAN_NUMBERS = "SUNIL ZAMBARE"  # BECAUSE IT CONTAINS SPACES WHICH IS NOT ALPHABET
PAN_NUMBERS.isalnum()  # Check for alphabets or numeric case

False