# Control flow statements

if else
if elif else
Nested if else
Single line if else [Not recommended]

Loops in python
for
while
if else
If elif

Online Food orders - Zomato App, Swiggy, Uber Eats
if you order more than Rs.499
discount = 20%
if you order more than Rs.999
discount = 30%
if you order more than 1499
discount = 40%

In [1]:
total_amount = 90 + 100 + 100 + 1000

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Pay amount: {price_after_discount}")
elif total_amount <= 999 and total_amount > 499:   #999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"Pay amount: {price_after_discount}")
else:
    print(f"Pay amount: {total_amount}")

cart total: 1290
Pay amount: 903.0

In [2]:
total_amount = 90 + 100      #+ 100 + 1000

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Pay amount: {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: #  999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"Pay amount: {price_after_discount}")
else:
    print(f"Pay amount: {total_amount}")

cart total: 190
Pay amount: 190

In [3]:
total_amount = 90 + 100 + 500

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Pay amount: {price_after_discount}")
elif total_amount <= 999 and total_amount > 499: #  999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"Pay amount: {price_after_discount}")
else:
    print(f"Pay amount: {total_amount}")

cart total: 690
Pay amount: 552.0

In [4]:
total_amount = 90 + 100 + 500

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Pay amount: {price_after_discount}")
elif  499 < total_amount <= 999: #  999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"Pay amount: {price_after_discount}")
else:
    print(f"Pay amount: {total_amount}")

cart total: 690
Pay amount: 552.0

In [5]:
total_amount = 90 + 100 + 500

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Pay amount: {price_after_discount}")
if 499 < total_amount <= 999: #  999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"Pay amount: {price_after_discount}")
else:
    print(f"Pay amount: {total_amount}")

cart total: 690
Pay amount: 552.0

In [6]:
total_amount = 90 + 100 + 500 + 1000

print(f"cart total: {total_amount}")

if total_amount > 1499:
    price_after_discount = total_amount * 60/100
    print(f"Pay amount: {price_after_discount}")
elif 999 < total_amount <= 1499:
    price_after_discount = total_amount * 70/100
    print(f"Pay amount: {price_after_discount}")
elif 499 < total_amount <= 999: #  999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"Pay amount: {price_after_discount}")
else:
    print(f"Pay amount: {total_amount}")

cart total: 1690
Pay amount: 1014.0

# Nested if else
print if the no is negative or positive

In [1]:
val = float(input("Enter a nuber:"))
if val >= 0:
    if val == 0:
        print("Its zero")
    else:
        print("Its a positive no")
else:
    print("Negative number")

Enter a nuber:10.3
Its a positive no

Single line if else
NOTE: NOT RECOMMENDED FOR CODING IN PROJECTS OR PRODUCTION

but good for competitive programming

print YES of the no is greater than 99

In [2]:
# OK for competitive program
# For production code or in a company its not recommended
val = float(input("Enter a number"))

if val > 99: print("YES")
else: print("NO")

Enter a number-5
NO

In [3]:
# Recommended approach
# Its more readable and clean

val = float(input("Enter a number"))

if val > 99:
    print("YES")
else: 
    print("NO")

Enter a number104
YES

In [4]:
# only good for competitive programming
val = float(input("Enter a number: "))

print("YES" if val > 99 else "NO")

Enter a number: 20
NO

# Loops
While loop
For loop   <br>

* Loop control
break
continue
pass
Nested loop

UPSC, IAS, Goverment exams, Board exams,
Repetive attempts
while I do not cross the cutoff I will keep on giving my exams

while CONDTION is True: print()

In [5]:
cutoff = 400
scores = [100, 200, 300, 399, 500]

# I will keep on attempting until I succeed
year = 0 # indexing in python starts with 0

while scores[year] < cutoff:
    print(f"Your score is: {scores[year]}, cutoff: {cutoff}")
    print("I will attempt next year")
    year = year + 1    # I am adding 1 to current year

Your score is: 100, cutoff: 400
I will attempt next year
Your score is: 200, cutoff: 400
I will attempt next year
Your score is: 300, cutoff: 400
I will attempt next year
Your score is: 399, cutoff: 400
I will attempt next year

# Infinite loop
if the CONDITION is always TRUE then you loop will keep on running...

In [6]:
year = 4
scores[year]

500

In [7]:
"""
Child is learning to counting 10 ruppes of note
"""

notes = 10
i = 1 # 1st note

while i <= notes:
    print(f"current sum: {i*10}")
    i = i + 1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
current sum: 60
current sum: 70
current sum: 80
current sum: 90
current sum: 100

In [8]:
# MSRTC ST BUS journey 
bus_station = ["PUNE", "SATARA", "KARAD", "TASGAON", "DONGARSONI"]

current_station = 0
destination_station = "DONGARSONI"

while bus_station[current_station] != destination_station:
    print(f"Current Station is: {bus_station[current_station]}")
    print(f"My destination is: {destination_station}")
    print("Continue the journey I have not reached the destination")
    current_station = current_station + 1
    print(f"Next station is: {bus_station[current_station]}")
    print("--"*30)

Current Station is: PUNE
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: SATARA
------------------------------------------------------------
Current Station is: SATARA
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: KARAD
------------------------------------------------------------
Current Station is: KARAD
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: TASGAON
------------------------------------------------------------
Current Station is: TASGAON
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: DONGARSONI
------------------------------------------------------------

In [9]:
# MSRTC ST BUS journey 
bus_station = ["PUNE", "SATARA", "KARAD", "TASGAON", "DONGARSONI"]

current_station = 0
destination_station = "DONGARSONI"

while bus_station[current_station] != destination_station:
    print(f"Current Station is: {bus_station[current_station]}")
    print(f"My destination is: {destination_station}")
    print("Continue the journey I have not reached the destination")
    current_station = current_station + 1
    print(f"Next station is: {bus_station[current_station]}")
    print("--"*30)
else:
    print(f"I have arrived at: {bus_station[current_station]}")

Current Station is: PUNE
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: SATARA
------------------------------------------------------------
Current Station is: SATARA
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: KARAD
------------------------------------------------------------
Current Station is: KARAD
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: TASGAON
------------------------------------------------------------
Current Station is: TASGAON
My destination is: DONGARSONI
Continue the journey I have not reached the destination
Next station is: DONGARSONI
------------------------------------------------------------
I have arrived at: DONGARSONI

while CONDITION is True:
    statement 
else:
    statement

In [10]:
"""
Child is learning to counting 10 ruppes of note
"""
notes = 5
i = 1 # 1st note

while i <= notes:
    print(f"CONDITION: {i <= notes}")
    print(f"current sum: {i*10}")
    i = i + 1
    print("-----------------------------")
else:
    print(f"CONDITION: {i <= notes}")
    print("No more 10 rupees notes left")

CONDITION: True
current sum: 10
-----------------------------
CONDITION: True
current sum: 20
-----------------------------
CONDITION: True
current sum: 30
-----------------------------
CONDITION: True
current sum: 40
-----------------------------
CONDITION: True
current sum: 50
-----------------------------
CONDITION: False
No more 10 rupees notes left

# for loop

In [11]:
for i in range(0, 10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [12]:
for i in range(0, 11):    # 11 here is out of bound
    print(f"10 X {i} = {10 * i}")

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [13]:
for i in range(0, 10): # (10 here is out of bound)
    print(f"10 X {i + 1} = {10 * (i+1)}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [14]:
"Sunil" * 10

'SunilSunilSunilSunilSunilSunilSunilSunilSunilSunil'

In [15]:
"*" * 20

'********************'

In [16]:
for i in range(1, 11): # (11 here is out of bound)
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [17]:
## i is not neccessary to use

for sunil in range(1, 11): # (11 here is out of bound)
    print("*" * sunil)

*
**
***
****
*****
******
*******
********
*********
**********

In [18]:
Cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3

total_sum = 0

for i in range(0, 4): # 0,1,2,3 
    print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
    total_sum = total_sum + Cost_of_items[i]
    print(f"After adding total sum = {total_sum}")
    print("-" * 30) #horizontal line printing
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
After adding total sum = 100
------------------------------
100 = 100 + 200
After adding total sum = 300
------------------------------
300 = 300 + 129
After adding total sum = 429
------------------------------
429 = 429 + 456
After adding total sum = 885
------------------------------
Total amount to be paid: 885

In [19]:
Cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3

total_sum = 0

for i in range(0, 3): # 0,1,2,3 
    print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
    total_sum = total_sum + Cost_of_items[i]
    print(f"After adding total sum = {total_sum}")
    print("-" * 30)
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
After adding total sum = 100
------------------------------
100 = 100 + 200
After adding total sum = 300
------------------------------
300 = 300 + 129
After adding total sum = 429
------------------------------
Total amount to be paid: 429

In [20]:
len(Cost_of_items)

4

In [21]:
Cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3

total_sum = 0
N = len(Cost_of_items)

for i in range(0, N): # 0,1,2,3 
    print(f"{total_sum} = {total_sum} + {Cost_of_items[i]}")
    total_sum = total_sum + Cost_of_items[i]
    print(f"After adding total sum = {total_sum}")
    print("-" * 30)
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
After adding total sum = 100
------------------------------
100 = 100 + 200
After adding total sum = 300
------------------------------
300 = 300 + 129
After adding total sum = 429
------------------------------
429 = 429 + 456
After adding total sum = 885
------------------------------
885 = 885 + 1000
After adding total sum = 1885
------------------------------
Total amount to be paid: 1885

In [22]:
Cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3
total_sum = 0
for cost in Cost_of_items:
    print(cost)

100
200
129
456
1000

In [23]:
Cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3
total_sum = 0
N = len(Cost_of_items)
for i in range(0, N): # 0,1,2,3 
    print(Cost_of_items[i])

100
200
129
456
1000

In [25]:
# MSRTC ST BUS journey 
bus_station = ["PUNE", "SATARA", "KARAD", "TASGAON", "DONGARSONI"]

for current_station in bus_station:
    print(f"Current station is: {current_station}")

Current station is: PUNE
Current station is: SATARA
Current station is: KARAD
Current station is: TASGAON
Current station is: DONGARSONI

In [27]:
# MSRTC ST BUS journey 
bus_station = ["PUNE", "SATARA", "KARAD", "TASGAON", "DONGARSONI"]

for sunil in bus_station:
    print(f"Current station is: {sunil}")

Current station is: PUNE
Current station is: SATARA
Current station is: KARAD
Current station is: TASGAON
Current station is: DONGARSONI

# break and continue

In [28]:
cost_of_items = [100, 200, 129, 456, 1000, 199, 299]
#                 0    1    2    3

total_sum = 0
budget = 2000

for cost in cost_of_items:
    total_sum = total_sum + cost
    print(f"Current total: {total_sum}")
    if total_sum > budget:
        print(f"since current total is more than my budget: {budget}")
        print("please remove the last item")
        total_sum = total_sum - cost
        break

print(f'Total amount to be paid: {total_sum}')

Current total: 100
Current total: 300
Current total: 429
Current total: 885
Current total: 1885
Current total: 2084
since current total is more than my budget: 2000
please remove the last item
Total amount to be paid: 1885

In [29]:
for i in range(1, 100):
    print(i,end=" ")
    if i > 50:
        break

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51

In [30]:
for i in range(1, 50):
    print(i,end=" ")
    if i >= 10:
        break

1 2 3 4 5 6 7 8 9 10

In [31]:
for i in range(1, 100):
    if i > 50:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [33]:
for i in range(1, 20):
    if i%2==0: # if no is even then start the loop again 
        continue
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [35]:
for i in range(1, 20):
    if i % 2 == 0: # if no is even then start the loop again
        break
    print(i,end=" ")

1

In [37]:
for i in range(1, 20):
    if i%2!=0:  # if no is odd then start the loop again
        continue # Start the loop again
    print(i,end=" ")

2 4 6 8 10 12 14 16 18

In [39]:
for i in range(1, 20):
    if i%2!= 0: 
        break # STOP THE LOOP DON't proceed at all
    print(i)

In [41]:
# Train journey 
stations = ["PUNE", "MUMBAI", "GUJRAT", "DELHI", "PUNJAB","JAMMU KASHMIR"]

for current_station in stations:
    print(f"Current station is: {current_station}")
    if current_station == "PUNJAB":
        break

Current station is: PUNE
Current station is: MUMBAI
Current station is: GUJRAT
Current station is: DELHI
Current station is: PUNJAB

In [42]:
# Train journey 
stations = ["PUNE", "MUMBAI", "GUJRAT", "DELHI", "PUNJAB","JAMMU KASHMIR"]

for current_station in stations:
    if current_station == "PUNJAB":
        continue
    print(f"Current station is: {current_station}")

Current station is: PUNE
Current station is: MUMBAI
Current station is: GUJRAT
Current station is: DELHI
Current station is: JAMMU KASHMIR

* break: it completely stops the loop
* continue: it skips the current loop or it skips all the statement after continue keyword

In [43]:
for i in range(1, 10):
    pass # I want to write code later

**pass Statement**
* 1.The pass statement is used as place holder fo thr future code.
* 2.when the pass statement is executed, nothing happens but you avoid getting an error when empty code is not allowed.
* 3.Empty code is not allowed in loops ,function definitions,class definitions, or in if statements.

In [44]:
for x in [1,2,3]:
    pass

In [45]:
def add():
    pass

In [46]:
class person:
    pass

In [49]:
# Train journey 
stations = ["PUNE", "MUMBAI", "GUJRAT", "DELHI", "PUNJAB","JAMMU KASHMIR"]

for current_station in stations:
    if current_station == "MUMBAI":
        pass
    print(f"Current station is: {current_station}")

Current station is: PUNE
Current station is: MUMBAI
Current station is: GUJRAT
Current station is: DELHI
Current station is: PUNJAB
Current station is: JAMMU KASHMIR