## Lists
In Python, Lists can be considered as the most general version of a "sequence". 

Unlike strings, they are mutable which means the elements inside a list can be changed!

Lists are constructed with brackets [] and commas separating every element in the list.

In [1]:
# Assign a list to an variable named my_list
my_list = [1, 2, 3, 4, 5]

We just created a list of integers, but lists can actually hold different object types, different data-types. For example:

In [2]:
my_list = ['A string', 23, 100.54,'D', True]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [3]:
len(my_list)

5

In [4]:
my_list

['A string', 23, 100.54, 'D', True]

In [5]:
A = [1,2,3,4,5]

A[0]

1

In [6]:
A = [1,2,3,4,5.0, "Sunil", 1+2j, True] 

type(A)

list

In [7]:
for element in A:
    print(element, end=" ")

1 2 3 4 5.0 Sunil (1+2j) True

In [8]:
len(A)

8

In [9]:
for i in range(len(A)):
    print(A[i],end=" ")

1 2 3 4 5.0 Sunil (1+2j) True

In [10]:
for i in range(len(A)):
    print(f" i = {i}, value = {A[i]}, datatype = {type(A[i])}")

 i = 0, value = 1, datatype = <class 'int'>
 i = 1, value = 2, datatype = <class 'int'>
 i = 2, value = 3, datatype = <class 'int'>
 i = 3, value = 4, datatype = <class 'int'>
 i = 4, value = 5.0, datatype = <class 'float'>
 i = 5, value = Sunil, datatype = <class 'str'>
 i = 6, value = (1+2j), datatype = <class 'complex'>
 i = 7, value = True, datatype = <class 'bool'>

Que-What is the difference between list of python and array of C or C++?

Ans-In array element only one dataype in python list all elements can be of different or same dataype.

## Indexing and Slicing
Indexing and slicing of lists works just like in Strings. 
Similar to string, list index starts at 0 and it can be sliced and concatenated and all operations.

In [11]:
new_list = ['one','two','three',4, 5, True]

In [12]:
# Grab element at index 0
new_list[0]

'one'

In [13]:
# Grab index 1 and everything past it
new_list[1:]

['two', 'three', 4, 5, True]

In [14]:
# Grab everything UP TO index 3
new_list[:3]

['one', 'two', 'three']

In [15]:
# Negative slicing
new_list[-3]

4

In [16]:
A

[1, 2, 3, 4, 5.0, 'Sunil', (1+2j), True]

In [17]:
A[3:]

[4, 5.0, 'Sunil', (1+2j), True]

In [18]:
A[0::2] # [start index: end index: STEP]

[1, 3, 5.0, (1+2j)]

In [19]:
for i in range(0, 8, 2):    # start, end, steps
    print(i, A[i])

0 1
2 3
4 5.0
6 (1+2j)

In [20]:
A

[1, 2, 3, 4, 5.0, 'Sunil', (1+2j), True]

In [21]:
A[::-1]

[True, (1+2j), 'Sunil', 5.0, 4, 3, 2, 1]

In [22]:
A[::-2]

[True, 'Sunil', 4, 2]

In [23]:
for i in range(0, len(A), 2):
    print(i, A[i])

0 1
2 3
4 5.0
6 (1+2j)

In [24]:
for i in range(0, len(A)):
    print(i, A[i])

0 1
1 2
2 3
3 4
4 5.0
5 Sunil
6 (1+2j)
7 True

In [25]:
for i in range(-1, -len(A) - 1, -1):
    print(i, A[i])

-1 True
-2 (1+2j)
-3 Sunil
-4 5.0
-5 4
-6 3
-7 2
-8 1

In [26]:
A[::2]

[1, 3, 5.0, (1+2j)]

In [27]:
A[1::2]

[2, 4, 'Sunil', True]

In [28]:
A

[1, 2, 3, 4, 5.0, 'Sunil', (1+2j), True]

In [29]:
for i in [1,5,6,7]:
    print(i, A[i])

1 2
5 Sunil
6 (1+2j)
7 True

## Updating list element at specific index

In [30]:
new_list[5] = 6
print(f"New value at index 5 : {new_list[5]}")

New value at index 5 : 6

We can also use "+" to concatenate lists, just like we did for Strings.

In [31]:
new_list + ['new item',5]

['one', 'two', 'three', 4, 5, 6, 'new item', 5]

**Note: This doesn't actually change the original list!**

In [32]:
new_list

['one', 'two', 'three', 4, 5, 6]

* In this case, you have to reassign the list to make the permanent change.

In [33]:
# Reassign
new_list = new_list + ['add new item permanently']

In [34]:
new_list

['one', 'two', 'three', 4, 5, 6, 'add new item permanently']

In [35]:
A

[1, 2, 3, 4, 5.0, 'Sunil', (1+2j), True]

In [36]:
A[4] = 999 # mutable operation allowed in list

In [37]:
A

[1, 2, 3, 4, 999, 'Sunil', (1+2j), True]

In [38]:
A[-2] = "Data Scientist"

In [39]:
A

[1, 2, 3, 4, 999, 'Sunil', 'Data Scientist', True]

In [40]:
B = [75, 92, 140.35]

In [41]:
A + B

[1, 2, 3, 4, 999, 'Sunil', 'Data Scientist', True, 75, 92, 140.35]

In [42]:
A = A + B

In [43]:
A

[1, 2, 3, 4, 999, 'Sunil', 'Data Scientist', True, 75, 92, 140.35]

In [44]:
A - B

TypeError: unsupported operand type(s) for -: 'list' and 'list'

## Repeatition of list
We can also use the * for a duplication method similar to strings.

In [45]:
# Make the list double
new_list * 2

['one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 'add new item permanently']

In [46]:
# Again doubling not permanent
new_list

['one', 'two', 'three', 4, 5, 6, 'add new item permanently']

In [47]:
A * 2

[1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35,
 1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35]

In [48]:
A / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [49]:
A * A

TypeError: can't multiply sequence by non-int of type 'list'

In [50]:
A + A

[1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35,
 1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35]

In [51]:
A + A + A

[1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35,
 1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35,
 1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35]

In [52]:
A * (-1)

[]

In [53]:
A * (-2)

[]

In [54]:
A + 2 * A

[1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35,
 1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35,
 1,
 2,
 3,
 4,
 999,
 'Sunil',
 'Data Scientist',
 True,
 75,
 92,
 140.35]

In [55]:
A * 0

[]

## Basic List Methods
If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

* They have no fixed size (which means we need not to specify how big the list will be)

* They have no fixed type constraint.

Special methods for lists:
len()
length of a list can be calculated using in built len()

In [56]:
l = [15,25,7,5,"Data Analytics", True, False, 95, 105.35]

len(l)

9

In [57]:
len(A)

11

In [58]:
len(l)

9

In [59]:
new_list = [] # NOT RECOMMEDED

len(new_list)

0

In [60]:
new_list = list() # RECOMMEDED

len(new_list)

0

In [62]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
for i in range(N):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_to_purchase = list_of_item_to_purchase + [user_input]

print(list_of_item_to_purchase)

No of item you want to purchase: 4
Enter the item that you want to purchase: Notebook
Enter the item that you want to purchase: Pen
Enter the item that you want to purchase: Sharpner
Enter the item that you want to purchase: Pencil
['Notebook', 'Pen', 'Sharpner', 'Pencil']

In [63]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
i = 0
while i < N:
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
    i = i + 1
print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: Ink bottle
Enter the item that you want to purchase: Compass
Enter the item that you want to purchase: Eraser
['Ink bottle', 'Compass', 'Eraser']

In [64]:
[10, 20, 30, 40] + [95]

[10, 20, 30, 40, 95]

In [65]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
i = 0
while i < N:
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
    i = i + 1
    print(f"current i: {i}=> Current list: {list_of_item_to_purchase}") 
print(list_of_item_to_purchase)

No of item you want to purchase: 4
Enter the item that you want to purchase: Geometry Box
current i: 1=> Current list: ['Geometry Box']
Enter the item that you want to purchase: Sketch Pen
current i: 2=> Current list: ['Geometry Box', 'Sketch Pen']
Enter the item that you want to purchase: Marker
current i: 3=> Current list: ['Geometry Box', 'Sketch Pen', 'Marker']
Enter the item that you want to purchase: Drawing Sheet
current i: 4=> Current list: ['Geometry Box', 'Sketch Pen', 'Marker', 'Drawing Sheet']
['Geometry Box', 'Sketch Pen', 'Marker', 'Drawing Sheet']

In [66]:
len(list_of_item_to_purchase)

4

## Check membership in a list

In [67]:
# check if 5 exists in list l
5 in l

True

In [68]:
"Mobile Phone cover" in list_of_item_to_purchase

False

In [69]:
"pen" in list_of_item_to_purchase

False

In [70]:
"Pen" in list_of_item_to_purchase # Case sensitive

False

In [71]:
if "Mobile Phone cover" in list_of_item_to_purchase:
    print("YES")
else:
    print("NO, adding into the list")
    list_of_item_to_purchase = list_of_item_to_purchase + ["Mobile Phone cover"]

NO, adding into the list

In [72]:
list_of_item_to_purchase

['Geometry Box', 'Sketch Pen', 'Marker', 'Drawing Sheet', 'Mobile Phone cover']

In [73]:
if "Mobile Phone cover" in list_of_item_to_purchase:
    print("YES")
else:
    print("NO, adding into the list")
    list_of_item_to_purchase = list_of_item_to_purchase + ["Mobile Phone cover"]

YES

In [74]:
if "Milk" not in list_of_item_to_purchase:
    print("NO, adding into the list")
    list_of_item_to_purchase = list_of_item_to_purchase + ["Milk"]
list_of_item_to_purchase

NO, adding into the list

['Geometry Box',
 'Sketch Pen',
 'Marker',
 'Drawing Sheet',
 'Mobile Phone cover',
 'Milk']

In [75]:
new_item = input("Any thing else to add:")

if new_item not in list_of_item_to_purchase:
    print("NO, adding into the list")
    list_of_item_to_purchase = list_of_item_to_purchase + [new_item]
list_of_item_to_purchase

Any thing else to add:3
NO, adding into the list

['Geometry Box',
 'Sketch Pen',
 'Marker',
 'Drawing Sheet',
 'Mobile Phone cover',
 'Milk',
 '3']

In [76]:
len(list_of_item_to_purchase)

7

# max()
We can find max value from a given list

In [77]:
list1 = ["Data Scientist","ML Engineer","Big-data","Data Analytics"]
list2 = [5,6,2,9,7,5,0]
print(max(list1))
print(max(list2))

ML Engineer
9

In [78]:
example = [1,45,999,10]

max(example)

999

In [79]:
string_example = ["b", "a", "d", "c"]

max(string_example)

'd'

In [80]:
string_example = ["sunil", "santosh", "viraj", "Wonder", "Doctor"]

max(string_example)

'viraj'

In [81]:
string_example = ["sunil", "santosh", "rahul", "ABK", "school", "Gym"]

max(string_example)

'sunil'

In [82]:
string_example = ["sunil", "santosh", "rahul", "ABK", "school", "Gym"]

min(string_example)

'ABK'

In [83]:
string_example = ["sunil", "santosh", "K", "school", "GY"]

min(string_example)

'GY'

In [84]:
# print the name with highest no of character.

max_len = 0
result = ""
for example in string_example:
    print(example, len(example))
    if len(example) > max_len:
        max_len = len(example)
        result = example

print(f"RESULT: max_len: {max_len} name: {result}")

sunil 5
santosh 7
K 1
school 6
GY 2
RESULT: max_len: 7 name: santosh

In [85]:
string_example = ["b", "a", "d", "c", "D", 1, 2]

max(string_example)

TypeError: '>' not supported between instances of 'int' and 'str'

In [86]:
example = [1, 2, 99.0]

max(example)

99.0

In [87]:
example = [1, 2, 99.0, 1000, -500]

max(example)

1000

In [88]:
example = [1, 2, 99.0, 1000, -500]

min(example)

-500

In [89]:
example = [1, 2, 99.0, 1+5j]

max(example)

TypeError: '>' not supported between instances of 'complex' and 'float'

In [90]:
example = [1, 2, 99.0, 1000, -500, 200*20]

max(example)

4000

In [91]:
# In python 3, you can not find max with different data-types in a list

print(max([1,2,"sunil zambare"]))

TypeError: '>' not supported between instances of 'str' and 'int'

# min()
We can find min value from a given list

In [92]:
list1 = ["Sunil DataScientist","Datascience","Big-data","Analytics"]
list2 = [5,6,2,9,7,5,0]
print(min(list1))
print(min(list2))

Analytics
0

In [93]:
# In python 3, you can't find min with different data-types in a list
print(min([1,2,"Analytics"]))

TypeError: '<' not supported between instances of 'str' and 'int'

There is another list() method which will helpful to convert tuple into list, which we will look when we will talk about tuple section. Just giving a brief idea, tuple is similar to list but tuple are unmutable means we can't change value of elements and they can define using () bracket. 
We will look into this in future topics.

## Append()

In [94]:
#Create a new list
l = [1,2,3,5,6,7]

Use the append method to permanently add an item to the end of a list:

In [95]:
# Show or execution
l

[1, 2, 3, 5, 6, 7]

In [96]:
A = [1,2,77]

A = A + ["new element"]

A

[1, 2, 77, 'new element']

In [97]:
A.append("INDIA")

A

[1, 2, 77, 'new element', 'INDIA']

In [98]:
A.append("Santosh", "Tushar")

A

TypeError: list.append() takes exactly one argument (2 given)

In [99]:
A.append(["Santosh", "Tushar"])

A

[1, 2, 77, 'new element', 'INDIA', ['Santosh', 'Tushar']]

In [100]:
A.append(["Santosh", "Tushar"])

A

[1,
 2,
 77,
 'new element',
 'INDIA',
 ['Santosh', 'Tushar'],
 ['Santosh', 'Tushar']]

In [101]:
A = A + ["Santosh", "Tushar"]

A

[1,
 2,
 77,
 'new element',
 'INDIA',
 ['Santosh', 'Tushar'],
 ['Santosh', 'Tushar'],
 'Santosh',
 'Tushar']

In [102]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
for i in range(N):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_to_purchase.append(user_input) # RECOMMENDED

print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: Blue Ball Pen
Enter the item that you want to purchase: Ruler
Enter the item that you want to purchase: Notebook
['Blue Ball Pen', 'Ruler', 'Notebook']

# pop()
Use pop to "pop off" an item from the list. 
By default pop takes off the last index, but you can also specify which index to pop off.

In [103]:
A = [7,4,2,13, "Sunil"]

A.pop()

A

[7, 4, 2, 13]

In [104]:
A = [7,4,2,13, "Sunil"]

A.pop(0)

A

[4, 2, 13, 'Sunil']

In [105]:
A = [7,4,2,13, "Sunil"]

A.pop(2)

A

[7, 4, 13, 'Sunil']

In [106]:
# Pop off the 0 indexed item
A.pop(0)

7

In [107]:
A

[4, 13, 'Sunil']

In [108]:
removed_item = A.pop(2)

removed_item

'Sunil'

In [109]:
A

[4, 13]

In [110]:
# print odd nos

A = [1, 37, 76, 89, 102]

for idx in range(len(A)):
    num = A[idx]
    print(idx, num)
    if num%2 != 0:   #odd condition % gives remainder value
        print(f"odd num: {num}")
    else:
        print(f"even num: {num}")

0 1
odd num: 1
1 37
odd num: 37
2 76
even num: 76
3 89
odd num: 89
4 102
even num: 102

In [111]:
# Show or execution
l

[1, 2, 3, 5, 6, 7]

In [112]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [113]:
popped_item

7

In [114]:
# Show remaining list
l

[1, 2, 3, 5, 6]

* Note:- lists indexing will return an error if there is no element at that index.

In [115]:
A

[1, 37, 76, 89, 102]

In [116]:
A[1000]

IndexError: list index out of range

* We can use the sort method and the reverse methods to also effect your lists

In [117]:
A = [1, 25, 37, 68, 79, -5,-3, -14]

sorted(A)

[-14, -5, -3, 1, 25, 37, 68, 79]

In [118]:
A

[1, 25, 37, 68, 79, -5, -3, -14]

In [119]:
A = sorted(A)
A

[-14, -5, -3, 1, 25, 37, 68, 79]

In [120]:
A[::-1]

[79, 68, 37, 25, 1, -3, -5, -14]

In [121]:
A = [1, 25, 37, 68, 79, -5,-3, -14]

A.sort() # permanent change

In [122]:
A

[-14, -5, -3, 1, 25, 37, 68, 79]

In [123]:
A[::-1]

[79, 68, 37, 25, 1, -3, -5, -14]

In [124]:
A = [1, 25, 37, 68, 79, -5,-3, -14]

A.sort(reverse=True) # directly get answer in descending order

A

[79, 68, 37, 25, 1, -3, -5, -14]

In [125]:
A

[79, 68, 37, 25, 1, -3, -5, -14]

In [126]:
A.reverse() # inplace solution

In [127]:
A

[-14, -5, -3, 1, 25, 37, 68, 79]

In [128]:
A = [13, 19, 23, "Sunil", "Data Scientist"]

A = A[::-1]
A

['Data Scientist', 'Sunil', 23, 19, 13]

In [129]:
A = [1, 23, 45, "Sunil", "Big-Data"]

A.reverse()

A

['Big-Data', 'Sunil', 45, 23, 1]

In [130]:
new_list = ['a','e','x','b','c']

In [131]:
new_list

['a', 'e', 'x', 'b', 'c']

In [132]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [133]:
new_list

['c', 'b', 'x', 'e', 'a']

In [134]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [135]:
new_list

['a', 'b', 'c', 'e', 'x']

# Nesting Lists
Nesting Lists is one of the great features in Python data structures. Nesting Lists means we can have data structures within data structures.

For example: A list inside a list.

In [136]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [137]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [138]:
matrix[2][1]

8

We can re-use indexing to grab elements, but now there are two levels for the index.

* The items in the matrix object

* The items inside the list

In [139]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [140]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# List Comprehensions
Python has an advanced feature called list comprehensions which allows for quick construction of lists.

In [141]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [142]:
first_col

[1, 4, 7]

In [143]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [144]:
first_col

[1, 4, 7]

In [145]:
# We can use normal for loop for the above thing and seperate every element in a single list
whole_element = []
for row in matrix:
    for l in row:
        whole_element.append(l)
        
whole_element

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Advanced Lists

In [146]:
l = [1,2,3]

* append()
Definitely, You have used this method by now, which merely appends an element to the end of a list

In [147]:
l.append(4)

l

[1, 2, 3, 4]

* 
count() takes in an element and returns the number of times it occures in your list

In [148]:
l.count(10)

0

In [149]:
l.count(2)

1

* extend
find the difference between extend and append to be unclear.

append: Appends object at end

In [150]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

* extend: extends list by appending elements from the iterable. It will append content of list elements to the existing list

In [151]:
x = [1, 2, 3]
x.extend('SZ')
print(x)

[1, 2, 3, 'S', 'Z']

In [152]:
l1 = ["AI","ML","DS", "BDA"]
l2 = list(range(5))
print("extended list")
l1.extend(l2)
l1

extended list

['AI', 'ML', 'DS', 'BDA', 0, 1, 2, 3, 4]

* Note:- how extend append each element in that iterable. That is the key difference.

* index returns the lowest index of element placed as an argument. 
* Make a note that if the element is not in the list then it returns an error.

In [153]:
l.index('append me!')

ValueError: 'append me!' is not in list

In [154]:
l

[1, 2, 3, 4]

In [155]:
l.index(4)

3

In [156]:
l = [1,2,3,6,3]
l.index(3)

2

* insert
Two arguments can be placed in insert method.

Syntax: insert(index,object)

This method places the object at the index supplied. For example:

In [157]:
l = [1,2,3,4,5]

In [158]:
l

[1, 2, 3, 4, 5]

In [159]:
l.insert(3,"new element")
l

[1, 2, 3, 'new element', 4, 5]

In [160]:
# Place a letter at the index 2
l.insert(100,'inserted')

In [161]:
l[100]

IndexError: list index out of range

* pop
You most likely have already seen pop(), which allows us to "pop" off the last element of a list.

In [162]:
l= [1,2,3,45,5,6]
l

[1, 2, 3, 45, 5, 6]

In [163]:
pop1 = l.pop()

In [164]:
pop1

6

In [165]:
l

[1, 2, 3, 45, 5]

In [166]:
ele = l.pop(1)

In [167]:
ele

2

In [168]:
l

[1, 3, 45, 5]

* remove
The remove() method removes the first occurrence of a value. For example:

In [169]:
l

[1, 3, 45, 5]

In [170]:
l.remove(5)

In [171]:
l

[1, 3, 45]

In [172]:
l = [1,2,3,4,3]

In [173]:
l

[1, 2, 3, 4, 3]

In [174]:
# If we have same element coming multiple times, it will remove first occuring element only
l.remove(3)

In [175]:
l

[1, 2, 4, 3]

* reverse
As the name suggests, reverse() helps you to reverse a list. 
Note this occurs in place! Meaning it effects your list permanently.

In [176]:
l.reverse()

In [177]:
l

[3, 4, 2, 1]

* sort will sort your list in place:

In [178]:
l

[3, 4, 2, 1]

In [179]:
l.sort()

In [180]:
l

[1, 2, 3, 4]

In [181]:
l = [0, 1, 2, "sunil", "DS", "zambare"]

In [182]:
l

[0, 1, 2, 'sunil', 'DS', 'zambare']

In [183]:
# Sorting can be done using same types of data in a list
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

## Iterating through a string by using list Comprehension

In [184]:
# Without using list comprehension
letter = []
for ch in 'zambare':
    letter.append(ch)
letter

['z', 'a', 'm', 'b', 'a', 'r', 'e']

In [185]:
# With using list comprehension
letter = [ ch for ch in 'sunil' ]
print(letter)

['s', 'u', 'n', 'i', 'l']

* Use of conditional statements using list comprehension

In [186]:
#Without list comprehension
l=[]
for i in range(20):
    if i%2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [187]:
# With list comprehension
number = [ i for i in range(20) if i % 2 == 0]
print(number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [188]:
l = []
for i in range(20):
    if i%2 != 0:
        l.append("Odd")
    else:
        l.append("Even")
l

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [189]:
# if else in list comprehension
odd_even = ["Odd" if i%2!=0 else "Even" for i in range(20)]
odd_even

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']

In [190]:
# Nested for loop without list comprehention
matrix = []
for i in range(3):
    matrix.append([])
    for j in range(3):
        matrix[i].append(j)

matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [191]:
# Nested for loop with list comprehention
matrix_with_List_Comp = [[j for j in range(3)] for i in range(3)]
matrix_with_List_Comp

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [192]:
# Nested conditions
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [193]:
l = []
for i in range(8):
    if i%2 ==0:
        if i%3 == 0:
            l.append(i)
l

[0, 6]

In [194]:
# For if elif else
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
['yes' if i == 1 else 'no' if i == 2 else 'idle' for i in l]

['yes', 'no', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']

In [195]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
res = []
for i in l:
    if i == 1:
        res.append("yes")
    elif i == 2:
        res.append("no")
    else:
        res.append("idle")
        
res

['yes', 'no', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle', 'idle']