## Tuples
In Python, tuples are similar to lists but they are immutable i.e. they cannot be changed. You would use the tuples to present data that shouldn't be changed, such as days of week or dates on a calendar.

In this section, we will get a brief overview of the following key topics:

1) Constructing Tuples
2) Basic Tuple Methods
3) Immutability
4) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. But, Tuples work very similar to lists but the major difference is tuples are immutable.

Constructing Tuples
The construction of tuples use () with elements separated by commas where in the arguments will be passed within brackets. For example:

In [1]:
# Can create a tuple with mixed types
t = (1,2,3)

In [2]:
# Check type just like a list
type(t)

tuple

In [3]:
# tuple with mixed data-type
t = (1,2,3,"AI", "ML","DL", True, 25.17)

In [4]:
# empty tiple
t = ()

In [5]:
# Can also mix object types
t = ('one',2)

# Show
l = ['sunil','sz']
l.sort()
l

['sunil', 'sz']

## Accessing value in tuples.

In [6]:
# Use indexing just like we did in lists
t[0]

'one'

In [7]:
t[-1]

2

In [8]:
t[1:3]  #slicing like a list

(2,)

# Updating elements in tuple
Tuples are immutable so we cannot update or change the value of element in tuple.
Instead we can take something from tuple and create new tuple out of it.

In [9]:
t1 = (10,20,2.5)
t2 = (True,"hello")

In [10]:
# this opeation is not possible in tuple, however we can do this by converting to list
t1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [11]:
# create new tuple from this 2 tuples
t3 = t1 + t2 # Concatenation of tuple
t3

(10, 20, 2.5, True, 'hello')

In [12]:
# We can convert to list and re assign
t_list = list(t1)
t_list[0] = 1
t_list

[1, 20, 2.5]

### Basic Tuple Methods
Tuples have built-in methods, but not as many as lists do. Let's see spme samples of tuple built-in methods

In [13]:
# Length of tuple
len(t)

2

In [14]:
# Repetition of tuple
t * 2

('one', 2, 'one', 2)

In [15]:
# Check if element is a member of a tuple
3 in t

False

In [16]:
# max eleemnt of a tuple
t = (1,5,89,45,4)
max(t)

89

In [17]:
t= ("sunil","DS","tasgaon")
max(t)

'tasgaon'

In [18]:
t = (1,2,"sunil") # max() not supported for different data types at a given tuple
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [19]:
# Use .index to enter a value and return the index
t.index(1)

0

In [20]:
# Use .count to count the number of times a value appears
t.count('abc')

0

## Immutability
As tuples are immutable, it can't be stressed enough and add more into it. To drive that point home:

In [21]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because tuple being immutable they can't grow. Once a tuple is made we can not add to it.

In [22]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
# min() of a tuple
t = (4,7,2,1)
min(t)

1

In [24]:
# for min() all elements data type should be same in a tuple
t = ("True","False")
min(t)

'False'

In [25]:
# tuple() will be used to convert list object to tuple while list() will be used to convert list objects to tuple

t = (1,2,3,4,5)

t = list(t) # converting to list and can do every operation which we can do with list

In [26]:
t[0] = 6

In [27]:
t , type(t)

([6, 2, 3, 4, 5], list)

In [28]:
# Now convert back to tuple
t = tuple(t)
t

(6, 2, 3, 4, 5)

## When to use Tuples?

Tuples are not used often as lists in programming but are used when immutability is necessary. 
While you are passing around an object and if you need to make sure that it does not get changed then tuple become your solution.
It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have a complete understanding of their immutability.

In [29]:
# Remove an empty tuple(s) from a list of tuples.
t = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

L = [i for i in t if i]

print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [30]:
# Nested tuples
t1 = (1,2)
t2 = (3,4)
nested= (t1,t2)
nested

((1, 2), (3, 4))

In [31]:
t = (1)
del(t) # deleteing tuple
t # already deleted

NameError: name 't' is not defined

In [32]:
#Creating tuples in a if else 
  
t1 = ('abc', 'def') 
t2 = ('abc', 'def',3) 
  
if (len(t1) != len(t2)):
    print('Not the same length') 
else: 
    print('Same length')

Not the same length

In [34]:
covid_symptoms = ("cold","cough","throat-problem","BP","DB")

sym = input("Enter your symptoms: ")
if sym in covid_symptoms:
    print("There might be chances of COVID. Concern to doctor")
else:
    print("You are safe, but take precautions")

Enter your symptoms: cough
There might be chances of COVID. Concern to doctor

# Set
Sets are an unordered collection of unique elements which can be constructed using the set() function.

In [35]:
x = set()

## Sets operations

In [36]:
# We add to sets with the add() method
x.add(3)

In [37]:
#Show or Execute
x

{3}

Note that the curly brackets do not indicate a dictionary! Using only keys, you can draw analogies as a set being a dictionary.

We know that a set has an only unique entry. Now, let us see what happens when we try to add something more that is already present in a set?

In [38]:
# Add a different element
x.add(2)

In [39]:
#Show
x

{2, 3}

In [40]:
# Try to add the same element
x.add(2)

In [41]:
#Show
x

{2, 3}

Notice, how it won't place another 2 there as a set is only concerned with unique elements! However, We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [42]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [43]:
# Cast as set to get unique values
l = set(l)
l

{1, 2, 3, 4, 5, 6}

In [44]:
# Remove element from set
l.remove(6)
l

{1, 2, 3, 4, 5}

In [45]:
l.discard(6) # It will not givean error if element is not present

In [46]:
l

{1, 2, 3, 4, 5}

In [47]:
l.remove(6) # It will give an error if element is notpresent

KeyError: 6

In [48]:
l.clear() # Clear all elements in a set/
l

set()

In [49]:
# Difference between two sets
x = {"AWS", "Cloud", "Bigdata"}
y = {"Azure", "Apache", "pyspark"}

print(x.difference(y))
print(y.difference(x))

{'AWS', 'Bigdata', 'Cloud'}
{'Apache', 'Azure', 'pyspark'}

## Update the first set with items that don’t exist in the second set

In [50]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

## Write a Python program to remove items 10, 20, 30 from the following set at once.

In [51]:
set1 = {10, 20, 30, 40, 50}

set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

## Check if two sets have any elements in common. If yes, display the common elements

In [52]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
    print("Two sets have no items in common")
else:
    print("Two sets have items in common")
    print(set1.intersection(set2))

Two sets have items in common
{10}