## Dictionaries

These dictionaries are nothing but hash tables in other programming languages.
- Dictionaries consists of:

- 1) Constructing a Dictionary
- 2) Accessing objects from a Dictionary
- 3) Nesting Dictionaries
- 4) Basic Dictionary Methods

- What are Mappings?

- Mappings are a collection of objects that are stored by a "key". 

- Unlike a sequence, mapping store objects by their relative position.

- This is an important distinction since mappings won't retain the order since they have objects defined by a key.

- A Python dictionary consists of a key and then an associated value. That value can be almost any Python object

## Constructing a Dictionary

In [1]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {True:'value1','key2':'value2','key1':'abc'}
my_dict

{True: 'value1', 'key2': 'value2', 'key1': 'abc'}

In [2]:
my_dict = {True:'value1','key2':'value2','key1':'valuedfvdfg','key1':'abc'} # Same key check key1 value 
my_dict

{True: 'value1', 'key2': 'value2', 'key1': 'abc'}

In [3]:
my_dict = {True:'value1','key2':'value2','key1':'valuedfvdfg','key1':'zabc'} # Same key check key1 value
my_dict

{True: 'value1', 'key2': 'value2', 'key1': 'zabc'}

In [4]:
# Call values by their key, accessing values based on key
my_dict['key2']

'value2'

In [5]:
# attempting to access element which is not present in dictionary gives key-error
my_dict['3']

KeyError: '3'

- Note:- dictionaries are very flexible in the data types they can hold.

In [6]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [7]:
my_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [8]:
#Let's call items from the dictionary
my_dict['key2'][2]

33

In [9]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [10]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [11]:
my_dict['key1']

123

In [12]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [13]:
#Check
my_dict['key1']

0

- Note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). 
- We could also use += or -= for the above statement.

In [14]:
# Create a new dictionary
d = {}
type(d)

dict

In [15]:
# Create a new key through assignment
d['animal'] = 'xyz'
d

{'animal': 'xyz'}

In [16]:
# Can do this with any object
d['answer'] = 42

In [17]:
#Show
d

{'animal': 'xyz', 'answer': 42}

## Nesting with Dictionaries

- Let us understand how flexible Python is with nesting objects and calling methods on them. 
- let us have a look at the dictionary nested inside a dictionary.

In [18]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [19]:
#Thats the inception of dictionaries. Now, Let's see how we can grab that value.
# Keep calling the keys
d['key1']['nestkey']

{'subnestkey': 'value'}

## Dictionary Methods

- There are a few methods we can call on a dictionary.

In [20]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [21]:
# Updating dictionary
d["key1"] = 4
d["key2"] = 5
d

{'key1': 4, 'key2': 5, 'key3': 3}

In [22]:
# Delete dictionary
del d["key1"]

In [23]:
d

{'key2': 5, 'key3': 3}

In [24]:
# remove all elements in a dictionary
d.clear()

In [25]:
d

{}

In [26]:
del d # delte entire dictionary

In [27]:
d # Not exists now

NameError: name 'd' is not defined

In [28]:
# strings, numbers or tuples as a key of dictionary is allowed but ['k'] as a key not allowed
d = {}
d["name"] = "Sunil"
d[1] = 4
d[(1,2)] = "Hello"
d

{'name': 'Sunil', 1: 4, (1, 2): 'Hello'}

In [29]:
d[["hello"]] = "hi" # Not allowed
d

TypeError: unhashable type: 'list'

In [30]:
# Length of a dictionary
len(d)

3

In [31]:
# We can convert dictionary as a string representation
str(d), type(str(d))

("{'name': 'Sunil', 1: 4, (1, 2): 'Hello'}", str)

In [32]:
d.clear() # Clear all from dictionary

In [33]:
d

{}

In [34]:
# Copy of the dictionary
d = {'name':'Sunil',1: "one",2: "two"}

d_copy = d.copy()

d

{'name': 'Sunil', 1: 'one', 2: 'two'}

In [35]:
d_copy

{'name': 'Sunil', 1: 'one', 2: 'two'}

In [36]:
id(d), id(d_copy)

(2099465905472, 2099494926848)

In [37]:
# create dictionary from key-value using fromkeys methods
keys = ('name','school','weather')
values = "good"

d = d.fromkeys(keys,values)

In [38]:
d

{'name': 'good', 'school': 'good', 'weather': 'good'}

In [39]:
# using get() to get a value of a key
d = {"fname": "SUNIL", "Lname": "ZAMBARE"}
d.get("fname")

'SUNIL'

In [40]:
d.get(1)

In [41]:
d.items() # List of key-value pair in a dictionary

dict_items([('fname', 'SUNIL'), ('Lname', 'ZAMBARE')])

In [42]:
d.keys() # List of keys present in a dictionary

dict_keys(['fname', 'Lname'])

In [43]:
# Another method similar to get() is setDefault() but it will set the value default if key is not present for ex:-
d.setdefault("Age", None) # Age is not present so value none
d.setdefault("Address", None) # Course is preset so value will not change to None
d

{'fname': 'SUNIL', 'Lname': 'ZAMBARE', 'Age': None, 'Address': None}

In [44]:
# We can update dictionary using update()
d1 = {1:"one",2:"two"}
d2 = {3:"three",4:"four"}
d1, d2

({1: 'one', 2: 'two'}, {3: 'three', 4: 'four'})

In [45]:
d1.update(d2)
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [46]:
d2

{3: 'three', 4: 'four'}

In [47]:
# Method to grab all values
d.values()

dict_values(['SUNIL', 'ZAMBARE', None, None])

## Dictionary Comprehensions

- like List Comprehensions, Dictionary Data Types also support their own version of comprehension for quick creation. 
- It is not as commonly used as List Comprehensions, but the syntax is:

In [48]:
{x : x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Iterating through dictionary

In [49]:
mydict = {'Name': 'Sunil', 'Surname': 'Zambare', 'Age': 38, 'Hometown':'Dongarsoni'}
for i in mydict:
    print(f"Key : {i}  Value : {mydict[i]}")

Key : Name  Value : Sunil
Key : Surname  Value : Zambare
Key : Age  Value : 38
Key : Hometown  Value : Dongarsoni

In [50]:
country_code = {
    "India": "IN",
    "Canada": "CA",
    "Chile": "CL",
    "Fiji": "FJ",
    "United states": "US"
}

# Check key exists
"India" in country_code

True

In [51]:
for countries in country_code:
    if len(countries) > 4:
        print(f"length of  {countries}  is greater than three." )
    elif (len(countries) >= 4 and len(countries) < 6):
        print(f"length of {countries} is less than six but greater than three." )
    else:
        print(f"length of {countries} is less than three." )

length of  India  is greater than three.
length of  Canada  is greater than three.
length of  Chile  is greater than three.
length of Fiji is less than six but greater than three.
length of  United states  is greater than three.

In [52]:
# Find max value in nested dictionary
dict_1 = {'Bus Station': { 'a': 15, 
                       'b': 10, 
                       'c': 2,}, 
           'Stops': {'d': 12, 
                      'e': 20,
                      'f': 10,}} 
# Max Value in Nested Dictionary 
# Using for loop 
result = {} 
for key, val in dict_1.items(): 
    max_val = 0
    for ele in val.values(): 
        if ele > max_val: 
            max_val = ele 
    result[key] = max_val

In [53]:
result

{'Bus Station': 15, 'Stops': 20}

In [54]:
#Create Dictionary              
d = {'name':'python','fees':'2000','duration':'2 year'}   # d(dictionary) is Key   and   { } is value

#Access elements from a dictionary
n = d['name']
print(n)

n = d['fees']
print(n)

n = d['duration']
print(n)

#Iterating through Dictionary
for n in d:
    print(d[n])

python
2000
2 year
python
2000
2 year

In [55]:
#Create a dictionary take keys as name,height and age 
d= {'name':'sunil', 'height':5.5, 'age':'38 year'}

c = d.get('name')       #d.get( )...return both keys or  values 

#c1=d['name']
print(c)

sunil

In [56]:
for n in d.keys():    #d.keys( )...return keys
    print(n)

name
height
age

In [57]:
for n in d.values():  #d.values( )...return values
    print(n)

sunil
5.5
38 year

In [58]:
for a,b in d.items():   #d.items( )...return both keys and values
    print(a,b)

name sunil
height 5.5
age 38 year

In [59]:
#Delete Function

del d['age']         #del d[ ]..delete the both keys or values 
print(d)

{'name': 'sunil', 'height': 5.5}

In [60]:
d.pop('name')         #d.po.[ ]...delete function
#print(d.pop('name'))
print(d)

{'height': 5.5}

In [61]:
d = dict(name='sunil', height=5.7) #for creating dictionary
print(d)

{'name': 'sunil', 'height': 5.7}

In [62]:
d = {'student':'rahul', 'fees':'40000', 'duration':'3 year'}  #Updating Dictinary

In [63]:
d.update({'student':'santosh'})
print(d)

{'student': 'santosh', 'fees': '40000', 'duration': '3 year'}

In [64]:
d.clear()           #delete all data of dictionary ...return[ ]
print(d)

{}

## NESTED DICTIONARY(Putting dictionary inside another dictionary)..it is a collection of dictionaries into one single dictionary.

In [65]:
#Create a Nested Dictionary...

course = {'phd' : {'duration':'3 Year', 'fees':100000},
          'c++' : {'duration':'4 month', 'fees':12000},
       'python' : {'duration':'5 month', 'fees':1500},
      }

In [66]:
print(course)
course['c++']['fees'] = 20000  #for updating value
print(f"The updated fee structure of c++ : {course['c++']['fees']}")

{'phd': {'duration': '3 Year', 'fees': 100000}, 'c++': {'duration': '4 month', 'fees': 12000}, 'python': {'duration': '5 month', 'fees': 1500}}
The updated fee structure of c++ : 20000

In [67]:
print(course['phd'])
print(course['c++'])
print(course['python'])

{'duration': '3 Year', 'fees': 100000}
{'duration': '4 month', 'fees': 20000}
{'duration': '5 month', 'fees': 1500}

In [68]:
for k,v in course.items():
    print(k,v)

phd {'duration': '3 Year', 'fees': 100000}
c++ {'duration': '4 month', 'fees': 20000}
python {'duration': '5 month', 'fees': 1500}

In [69]:
print(course['phd']['fees'])

100000

In [70]:
for k,v in course.items():  
    print(k,v[ 'duration'],v[ 'fees'])

phd 3 Year 100000
c++ 4 month 20000
python 5 month 1500