## Functions

* Functions are set of instructions to perform specifc task.

In [1]:
len("Sunil") #This  function which I used right now is predefined by some one.

5

In [2]:
print("Sunil")

Sunil

## Creating our own Function

In [3]:
def test():

IndentationError: expected an indented block (3861551224.py, line 1)

In [4]:
def test1():
    print("This is my first function")

In [5]:
test1()

This is my first function

In [6]:
test1() #We can this function any number of times

This is my first function

In [7]:
a = test1()

This is my first function

In [8]:
a + "Sunil"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
test1() + "Sunil"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [10]:
type(a)

NoneType

In [11]:
str(a)

'None'

In [14]:
def test2():
    return "Sunil "

In [15]:
test2() + "Zambare"

'Sunil Zambare'

In [16]:
def test3():
    return 7007

In [17]:
test3()

7007

In [18]:
type(test3())

int

In [19]:
def test4():
    return 1,'a',[1,2,3,4,5]

In [20]:
test4() #returns tuple

(1, 'a', [1, 2, 3, 4, 5])

In [21]:
b = test4()

In [22]:
b

(1, 'a', [1, 2, 3, 4, 5])

In [23]:
b[2]

[1, 2, 3, 4, 5]

In [24]:
a = 1
b = 5
c = "Sunil"
d = [11,12,13,14,15,16,17,18,23]

In [25]:
a, b, c, d = 38, 23, "Sunil","Zambare"

In [26]:
x, y, z = test4()

In [27]:
x

1

In [28]:
y

'a'

In [29]:
z

[1, 2, 3, 4, 5]

In [30]:
def test5():
    a = 6 * 3 / 2
    return a

In [31]:
test5()

9.0

In [32]:
len("Sunil")

5

In [33]:
l = [1, 2, 3,"sunil", 4, "Santosh", 5]

In [34]:
def test6(a):
    n=[]
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
    return n

In [35]:
test6()

TypeError: test6() missing 1 required positional argument: 'a'

In [36]:
test6(l)

[1, 2, 3, 4, 5]

In [37]:
b = [2, 3+3j, "Lion"] #again using the test6() function with another list

In [38]:
test6(b)

[2]

In [39]:
def test7(c):
    if type(c) == dict:
        return c.keys()
    else:
        return "you have not passed a dictionary"

In [40]:
test7("sunil")

'you have not passed a dictionary'

In [41]:
test7({"watch":500, "bag":600, "pen":5})

dict_keys(['watch', 'bag', 'pen'])

In [42]:
def test8(a,b):
    if type(a) == list and type(b) == list:
        return a.extend(b)
    else:
        return "Either of your data is not a list"

In [43]:
test8(1)

TypeError: test8() missing 1 required positional argument: 'b'

In [44]:
test8([1,2,3])

TypeError: test8() missing 1 required positional argument: 'b'

In [45]:
a = [1,2,3]
b = [3,4,5]
test8(a,b)

In [46]:
a

[1, 2, 3, 3, 4, 5]

In [47]:
def test8(a,b):
    if type(a) == list and type(b) == list:
        a.extend(b)
        return a
    else:
        return "Either of your data is not a list"

In [48]:
test8([1,2],[3,4])

[1, 2, 3, 4]

In [49]:
def triangle(rows):
    if type(rows) == int:
        for i in range(1,rows):
            for j in range(i):
                print("*", end=" ")
            print()

In [50]:
triangle(7)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [51]:
def create_triangle(row_num):
    n = row_num
    k = n-1
    for i in range(0,n):
        for j in range(0,k):
            print(end=" ")
        k = k-1
        for j in range(0,i+1):
            print("* ",end=" ")
        print()
create_triangle(7)

      *
     *  *
    *  *  *
   *  *  *  *
  *  *  *  *  *
 *  *  *  *  *  *
*  *  *  *  *  *  *

In [52]:
def triangle(n):
    "This function helps us to create a triangle pattern"
    for i in range(0,n):
        for j in range(0,i+1):
            print("*",end=" ")
        print("")

In [53]:
triangle(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [54]:
triangle.__doc__

'This function helps us to create a triangle pattern'

In [55]:
help(triangle(5))

*
* *
* * *
* * * *
* * * * *
Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [56]:
help(triangle)

Help on function triangle in module __main__:

triangle(n)
    This function helps us to create a triangle pattern

## Types of arguments

- Required arguments
- Variable length arguments
- Keyword arguments
- Default arguments

### variable length arguments

In [57]:
def test9(*args):
    return args

In [58]:
test9(1,2,3,4,5,"sunil",[1,2,3,4,5,6,7])

(1, 2, 3, 4, 5, 'sunil', [1, 2, 3, 4, 5, 6, 7])

In [59]:
type(test9(1,2,3,4))

tuple

In [60]:
def test10(*args):
    return list(args)

In [61]:
test10(1,2,3,4,5)

[1, 2, 3, 4, 5]

In [62]:
def test10(*args):
    l=[]
    for i in args:
        l.append(i)
    return l

In [63]:
test10(1,2,3,4,5)

[1, 2, 3, 4, 5]

### Keyword arguments

In [64]:
def test11(**kwargs):
    return kwargs

In [65]:
test11(4,5,6,7,8,9)

TypeError: test11() takes 0 positional arguments but 6 were given

In [66]:
test11(a=1,b=2,c="sunil",d="zambare",e=[1,2,3,4,5])

{'a': 1, 'b': 2, 'c': 'sunil', 'd': 'zambare', 'e': [1, 2, 3, 4, 5]}

### function inside function

In [67]:
def test12(a):
    return a
def test13(b):
    return b
def test14(func):
    return func("Sunil")

In [68]:
test14(test12)

'Sunil'

In [69]:
test14(test13)

'Sunil'

In [70]:
def test12(a):
    return a
def test13(b):
    return "Zambare"
def test14(func):
    return func("Sunil")

In [71]:
test14(test13)

'Zambare'

In [72]:
test14(test12)

'Sunil'

In [76]:
def test15(a):
    print("This is my test 15")
    def test16():
        print("This is my test 16")
    def test17():
        print("This is my test 17")
    
    if a == "Sunil":
        return test16()
    elif a == "Zambare":
        return test17()

In [77]:
test15("Sunil")

This is my test 15
This is my test 16

In [78]:
test15("Zambare")

This is my test 15
This is my test 17

In [79]:
def test13(*args):
    print("This is a return of test13")

In [80]:
def test18(func):
    def test19():
        print("I am inside test 19")
    return test19()

In [81]:
test18(test13)

I am inside test 19

In [82]:
def test18(func):
    def test19():
        print("I am inside test 19")
        func()
    return test19()

In [83]:
test18(test13)

I am inside test 19
This is a return of test13

## Decorators

In [84]:
import os
def test18(func):
    def test19():
        print("I am inside test19 and this will behave a decorator to any function that I am going to call")
        print(os.getcwd())
        func()
    return test19

In [87]:
@test18
def test20():
    print("This is test20")

In [88]:
test20()

I am inside test19 and this will behave a decorator to any function that I am going to call
C:\Users\Admin
This is test20

In [89]:
test18(test20)

In [90]:
pwd()

'C:\\Users\\Admin'

In [91]:
def test20(func):
    def test21():
        func()
        print(os.getcwd())
    return test21

In [92]:
@test18
@test20
def test22():
    print("This will print inside test22")

In [93]:
test22()

I am inside test19 and this will behave a decorator to any function that I am going to call
C:\Users\Admin
This will print inside test22
C:\Users\Admin

In [94]:
import time
start = time.time()
print("hello")
end = time.time()
print(end - start)

hello
0.0

In [95]:
time.time()

1683821368.9128842

In [98]:
def test25(func) : 
    def test26():
        print("This wil give you executation time of a function ") 
        start = time.time()
        func()
        print(func())
        end = time.time()
        print(end -start)
    return  test26

@test25
def test27():
    """
    This is a functin whichi will take a decorator for calculating a executation timeing of a functioin 
    """
    l = [4,5,6,7,8,8]
    l1 = []
    for i in l :
        if type(i) == int :
            l1.append(i)
    return l1

In [99]:
test27()

This wil give you executation time of a function
[4, 5, 6, 7, 8, 8]
0.0

In [100]:
def test3(*args,a):
    return args,a

In [101]:
test3(1,2,3,4)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [102]:
test3(1,2,3,4,a=[1,2,3,4])

((1, 2, 3, 4), [1, 2, 3, 4])

In [103]:
def test3(*args,a,b,c):
    return args,a,b,c

In [104]:
test3(1,2,3,4,a=[23,4,5],b="hello",c=2+3j)

((1, 2, 3, 4), [23, 4, 5], 'hello', (2+3j))

In [105]:
def test3(a,*args):
    return a,args

In [106]:
test3(1,2,34,a=4)

TypeError: test3() got multiple values for argument 'a'

In [107]:
test3(2,1,2,3,4)

(2, (1, 2, 3, 4))

In [108]:
def test4(a,*args,b,c):
    return args,a,b,c

In [109]:
test4("Sunil",1,2,3,4)

TypeError: test4() missing 2 required keyword-only arguments: 'b' and 'c'

In [110]:
test4("Sunil",1,2,3,4,5,b=6,c=7)

((1, 2, 3, 4, 5), 'Sunil', 6, 7)

In [111]:
def test6(*args):
    for i in args:
        if type(i)==list:
            return i

In [112]:
test6(1,2,3,[4,5,6,7],8,9,10)

[4, 5, 6, 7]

In [113]:
def test6(*args):
    for i in args:
        if type(i)==list:
            return i

In [114]:
test6(1,2,3,[4,5,6],[5,4,3])

[4, 5, 6]

In [115]:
def test6(*args):
    l=[]
    for i in args:
        if type(i)==list:
            l.append(i)
    return l

In [116]:
test6(1,2,3,4,[23,34,24],[34,65,42])

[[23, 34, 24], [34, 65, 42]]

In [117]:
#keyword arguments
def test7(**kwargs):
    return kwargs

In [118]:
test7(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

In [119]:
test7("a"="Sunil")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1487247482.py, line 1)

In [120]:
test7(a="Sunil")

{'a': 'Sunil'}

In [121]:
test7(4="Sunil")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (847194555.py, line 1)

In [122]:
def test8(**Sunil):
    return Sunil

In [125]:
test8(Name="Sunil",Age=38,Phone_number=9970575581,Address="At post-Ayodhyanagar,Dongarsoni,Taluka-Tasgaon,District-Sangli")

{'Name': 'Sunil',
 'Age': 38,
 'Phone_number': 9970575581,
 'Address': 'At post-Ayodhyanagar,Dongarsoni,Taluka-Tasgaon,District-Sangli'}

In [126]:
def test9(a,**Sunil):
    return Sunil, a

In [127]:
test9(23,t=23,b=34,c=7,d=8,e=32)

({'t': 23, 'b': 34, 'c': 7, 'd': 8, 'e': 32}, 23)

In [128]:
def test10(a,**b,*args):
    return a,args,b

SyntaxError: invalid syntax (3560402617.py, line 1)

In [129]:
def test11(a,*args,**kwargs):
    return a, args, kwargs

In [130]:
test11(12,13,14,15,16,c=[1,2,3,4],d="Sunil")

(12, (13, 14, 15, 16), {'c': [1, 2, 3, 4], 'd': 'Sunil'})

In [131]:
def test12(a,b):
    return a*b

In [132]:
test12(12,14)

168

In [133]:
multi = lambda a,b : a * b

In [134]:
multi(10,12)

120

In [135]:
def a1(func):
    def a2():
        print("I am inside test2")
        func()
        print(func())
        print("Function executed")
        return func()
    return a2

In [136]:
@a1
def a3():
    print("this is my test3")

In [137]:
a3()

I am inside test2
this is my test3
this is my test3
None
Function executed
this is my test3

In [138]:
def a4():
    return 4+5

In [139]:
a4()

9

In [140]:
@a1
def a4():
    return 4+5

In [141]:
a4()

I am inside test2
9
Function executed

9

In [142]:
a = a4()

I am inside test2
9
Function executed

In [143]:
print(a)

9

In [144]:
def a1(func):
    def a2(c,d):
        print("I am inside test2")
        func(c,d)
        print(func(c,d))
        print("Function executed")
        return func(c,d)
    return a2

In [145]:
def a5(a,b):
    return a+b

In [146]:
a5(10,12)

22

In [147]:
@a1
def a5(a,b):
    return a+b

In [148]:
a5(10,12)

I am inside test2
22
Function executed

22

In [149]:
def a1(func):
    def a2(*args):
        print("I am inside test2")
        func(*args)
        print(func(*args))
        print("Function executed")
        return func(*args)
    return a2

In [150]:
@a1
def a6(a,b,c):
    return a+b+c

In [151]:
def a1(func):
    def a2(*args,**kwargs):
        print("I am inside test2")
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("Function executed")
        return func(*args,**kwargs)
    return a2

In [152]:
@a1
def a7(**kwargs):
    return kwargs

In [153]:
a7(e=10,f=20)

I am inside test2
{'e': 10, 'f': 20}
Function executed

{'e': 10, 'f': 20}

## Ananymous or Lambda function

In [154]:
lambda a,b: a+b

In [155]:
def b1(a,b):
    return a+b

In [156]:
b1(12,14)

26

In [157]:
lambda a,b: a+b

In [158]:
b1

In [159]:
c = lambda a,b : a + b

In [160]:
c(10,20)

30

In [161]:
c("Sunil ","Zambare")

'Sunil Zambare'

In [162]:
d = lambda a, b, c, d : a + b * c / d

In [163]:
d(10,20,30,40)

25.0

In [164]:
e = lambda * args : args

In [165]:
e(1,2,12,13)

(1, 2, 12, 13)

## map

In [166]:
l=[1,2,3,4,5,6]

In [167]:
# expected output l1=[11,12,13,14,15,16]
l1=[]
for i in l:
    l1.append(i+10)

In [168]:
l1

[11, 12, 13, 14, 15, 16]

In [169]:
def c1(a):
    return a+10

In [170]:
map(c1,l)

In [171]:
list(map(c1,l))

[11, 12, 13, 14, 15, 16]

In [172]:
list(map((lambda a:a+10),l))

[11, 12, 13, 14, 15, 16]

In [173]:
d=lambda a:a+10

In [174]:
list(map(d,l))

[11, 12, 13, 14, 15, 16]

In [175]:
l=["sunil","zambare","tasgaon"]

In [176]:
list(map(lambda a : a.capitalize(),l))

['Sunil', 'Zambare', 'Tasgaon']

In [177]:
list(map(lambda a:a.upper(),l))

['SUNIL', 'ZAMBARE', 'TASGAON']

In [178]:
def upper_string(a):
    return a.upper()

In [179]:
list(map(upper_string,l))

['SUNIL', 'ZAMBARE', 'TASGAON']

In [180]:
list(map(len,l))

[5, 7, 7]

In [181]:
def len_str(a):
    return len(a)

In [182]:
list(map(len_str,l))

[5, 7, 7]

## Filter Function

In [183]:
l=[1,2,3,4,5,6,7,8]

In [184]:
[i for i in l if i%2==0]

[2, 4, 6, 8]

In [185]:
def test(a):
    l=[]
    if type(a)==list:
        for i in a:
            if i%2==0:
                l.append(i)
        return l

In [186]:
test(l)

[2, 4, 6, 8]

In [187]:
a=lambda a:a if a%2==0 else None

In [188]:
list(map(a,l))

[None, 2, None, 4, None, 6, None, 8]

In [189]:
list(filter(a,l))

[2, 4, 6, 8]

In [192]:
def test24(a):
    if a%2==0:
        return True
    else:
        return False

In [193]:
test24(32)

True

In [194]:
test24(43)

False

In [195]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [196]:
sum(l)

36

## reduce function

In [197]:
l = [1,2,3,4,5]

In [198]:
from functools import reduce

In [199]:
reduce(lambda a, b : a * b, l)

120

In [200]:
reduce(lambda a, b, c : a*b*c, l)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [201]:
l1=[3]
reduce(lambda a,b:a*b,l1)

3

In [203]:
def test1(a:int,b) ->int:
    """This is my doc string to give a hint to next programmer"""  # Dockstring
    return a+b

In [204]:
test1(10,20)

30

## Default arguments

In [205]:
def test1(a:int,b:float,c:int=220) ->int:
    """This is my doc string to give a hint to next programmer"""
    return a+b+c

In [206]:
test1(12,17)

249

In [207]:
test1(12,17,300)

329

## Arguments passing in python

- In programming there are two ways in which arguments can be passed to functions:

1. Pass by value
2. Pass by reference
- some languages use pass by reference and some pass by value.But some languages support both pass by value and pass by     reference.

- In python we don't have to think about pass by value and pass by reference as it does that automatically for you .To emulate this using python we use the concept of mutability.If the argument passed is immutable then it follows pass by value, else if the argument passed is mutable then it follows pass by reference.

## Pass by value

In [209]:
def f1(a):
    a+=20
    print(f'In function = {a}')

num=10
print(f"Before function call = {num}")     #both formal(a) and actual arguments(n) point to different variables
                                      #Variables are immutables
f1(num)
print(f"After function call= {num}")

Before function call = 10
In function = 30
After function call= 10

## Pass by reference

In [211]:
def f2(arg):
    arg += [20]
    print(f"In function num = {arg}")
n = [10]
print(f"Before function call num = {n}")
f2(n)
print(f"After function call num = {n}")

Before function call num = [10]
In function num = [10, 20]
After function call num = [10, 20]