# Lambda
- A lambda function is an anonymous function (function without a name).
- Lambda functions can have any number of arguments but only one expression. 
- The expression is evaluated and returned.
- We use lambda functions when we require a nameless function for a short period of time.

# Filter
- It is used to filter the iterables/sequence as per the conditions.
- Filter function filters the original iterable and passes the items that returns True for the function
  provided to filter.
- It is normally used with Lambda functions to filter list, tuple, or sets.
### **filter() method takes two parameters**
- function - function tests if elements of an iterable returns true or false
- iterable - Sequence which needs to be filtered, could be sets, lists, tuples, or any iterators

# Reduce
- The reduce() function is defined in the functools python module.
- The reduce() function receives two arguments, a function and an iterable. 
- However, it doesn't return another iterable, instead it returns a single value.
#### Working:
1) Apply a function to the first two items in an iterable and generate a partial result. <br>
2) The function is then called again with the result obtained in step 1 and the next value in the sequence. 
   This process keeps on repeating until there are items in the sequence. <br>
3) The final returned result is returned and printed on console.

# Map
- The map() function applies a given function to each item of an iterable (list, tuple etc.) 
- returns a list of the results.
#### **map() function takes two Parameters :**
- function : The function to execute for each item of given iterable.
- iterable : It is a iterable which is to be mapped.
- Returns : Returns a list of the results after applying the given function to each item of a given iterable (list, tuple)

In [1]:
addition = lambda a : a + 10 # This lambda function adds value 10 to an argument
print(addition(5))

15

In [2]:
product = lambda a, b : a * b #This lambda function takes two arguments (a,b)
print(product(5, 6))

30

In [3]:
addition = lambda a, b, c : a + b + c   #This lambda function takes three argument
print(addition(5, 6, 2))

13

In [4]:
res = (lambda *args: sum(args)) # This lambda function can take any number of argument
res(10,20) , res(10,20,30,40) , res(10,20,30,40,50,60,70)

(30, 100, 280)

In [5]:
res1 = (lambda **kwargs: sum(kwargs.values()))
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(60, 150)

In [7]:
res1 = (lambda **kwargs: sum(kwargs.values()))
res1(a = 100 , b= 200 , c = 300) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(600, 150)

In [8]:
# User defined function to find product of numbers
def product(nums):
    total = 1
    for i in nums:
        total *= i 
    return total

# This lambda function can take any number of arguments and return thier product.
res1 = (lambda **kwargs: product(kwargs.values())) 
res1(a = 10 , b= 20 , c = 30) , res1(a = 10 , b= 20 , c = 30, d = 40 , e = 50)

(6000, 12000000)

In [9]:
def myfunc(n):
    return lambda a : a + n
add10 = myfunc(10)
add20 = myfunc(20)
add30 = myfunc(30)
print(add10(5))
print(add20(5))
print(add30(5))

15
25
35

In [10]:
list1 = [1,2,3,4,5,6,7,8,9]
def odd(n):
    if n%2 ==1: 
        return True
    else:
        return False

odd_num = list(filter(odd,list1))  # This Filter function filters list1
odd_num

[1, 3, 5, 7, 9]

In [11]:
list1 = [1,2,3,4,5,6,7,8,9]
# The below Filter function filters "list1" and passes all odd numbers using lambda
odd_num = list(filter(lambda n: n%2 ==1 ,list1)) 
odd_num

[1, 3, 5, 7, 9]

In [12]:
def twice(n):
    return n*2
 
doubles = list(map(twice,odd_num)) # The map function will apply user defined "twice"
doubles

[2, 6, 10, 14, 18]

In [13]:
doubles = list(map(lambda n:n*2,odd_num)) # This map function will double all iteration
doubles

[2, 6, 10, 14, 18]

In [14]:
from functools import reduce
def add(a,b):
    return a+b
 
sum_all = reduce(add,doubles) # This reduce function will perform sum of all item
sum_all

50

In [15]:
#The below reduce() function will perform sum of all items in the list using lambda
sum_all = reduce(lambda a,b : a+b,doubles)
sum_all

50

In [17]:
#Putting all together 
sum_all = reduce(lambda a,b : a+b,list(map(lambda n:n*2,list(filter(lambda n: n%2==1,list1)))))

In [18]:
sum_all

50

In [22]:
# More examples on Map , Filter , Reduce
list1 = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n: n%2 ==0 ,list1)) # Filter even numbers from the list
odd = list(filter(lambda n: n%2 !=0 ,list1)) # Filter odd numbers from the list
print('-'*20)
print(even)
print(odd)
print('-'*20)

--------------------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------------------

In [23]:
list2 = ['one' , 'TWO' , 'three' , 'FOUR']
upper = list(filter(lambda x: x.isupper() , list2)) # filter uppercase strings 
lower = list(filter(lambda x: x.islower() , list2)) # filter lowercase strings
print(upper)
print(lower)
print('-'*20)

['TWO', 'FOUR']
['one', 'three']
--------------------

In [25]:
list3 = ['one1' , 'two2' , 'three3' ,'84' , '23' , '2013']
numeric = list(filter(lambda x:x.isnumeric(), list3)) # filter numbers from the 
alpha = list(filter(lambda x:x.isalpha(), list3)) # filter character strings
alphanum = list(filter(lambda x:x.isalnum(), list3)) # filtr numbers & character 
print(alpha)
print(numeric)
print(alphanum)
print('-'*60)

[]
['84', '23', '2013']
['one1', 'two2', 'three3', '84', '23', '2013']
------------------------------------------------------------

In [26]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
def double(x):
    return x+x
def add(x,y):
    return x+y
def square(x):
    return x*x
print('---------------')
print(list(map(double, list1))) # Double each number using map & User defined functions
print(list(map(add, list1, list2))) # add two items using map & User defined functions
print(list(map(square, list1))) #Square numbers using map & User defined function
print('---------------')
print(list(map(lambda x: x + x, list1))) # Double each number using map & lambda
print(list(map(lambda x, y: x + y, list1, list2))) # add two items using map & lambda functions
print(list(map(lambda x: x*x, list1))) #Square numbers using map & lambda functions
print('---------------')

---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------

In [27]:
list2 = [1,2,3,4]
product = reduce (operator.mul,list2) # Product of all numbers in a list

add = reduce(operator.add,list2) # Add all numbers in the list

concat_str = reduce(operator.add , ['Python' , ' ' , 'Rocks']) # Concatenate strings
prod = reduce(operator.mul,['Hello ' , 3]) #Repeat a string multiple times
min_num = reduce(lambda a, b: a if a < b else b, list2) # Minimum number in the l
max_num = reduce(lambda a, b: a if a > b else b, list2) # Maximum number in the l
print(product)
print(add)
print(concat_str)
print(prod)
print(min_num)
print(max_num)

NameError: name 'operator' is not defined

In [28]:
def min_func(a, b):
    return a if a < b else b
def max_func(a, b):
    return a if a > b else b
min_num = reduce(min_func, list2) # Minimum number in the list using reduce () 
max_num = reduce(max_func, list2) # Maximum number in the list using reduce () 
min_num , max_num

(1, 4)

In [29]:
print('------')
print(reduce(lambda a, b: bool(a and b), [0, 0, 1, 0, 0])) # Returns True if all 
print(reduce(lambda a, b: bool(a and b), [2, 3, 1, 5, 6])) # Returns True if all 
print(reduce(lambda a, b: bool(a and b), [8, 9, 1, 0, 9])) # Returns True if all 
print('------')
print(reduce(lambda a, b: bool(a or b), [0, 0, 0, 0, 0])) # Returns True if any 
print(reduce(lambda a, b: bool(a or b), [2, 3, 1, 5, 6])) # Returns True if any 
print(reduce(lambda a, b: bool(a or b), [8, 9, 1, 0, 9])) # Returns True if any 
print('------')

------
False
True
False
------
False
True
True
------