### Python does not allow to return anything from init

In [25]:
i = [1,2,3,4,5,6]
i1 = []
for m in i:
    i1.append(m**2)
i1

[1, 4, 9, 16, 25, 36]

In [26]:
# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [27]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))      
count = 1    
# we are using while loop for iterating the multiplication 10 times      
print ("The Multiplication Table of: ", number)    
while count <= 10:    
    number = number * 1    
    print (number, 'x', i, '=', number * count)    
    count += 1

Enter the number of which the user wants to print the multiplication table: 17
The Multiplication Table of:  17
17 x 10 = 17
17 x 10 = 34
17 x 10 = 51
17 x 10 = 68
17 x 10 = 85
17 x 10 = 102
17 x 10 = 119
17 x 10 = 136
17 x 10 = 153
17 x 10 = 170

In [28]:
i = 1
while i<=10:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

In [29]:
user = int(input('Enter a Num'))
i = 1
starting = 0
while i <= user:
    starting = starting + i
    i = i+ 1
print(i)

Enter a Num5
6

In [30]:
num = int(input('Enter a number '))
end = int(input('end '))
i = 1
while i <=end:
    print(num,'x',i,'=',num*i)
    i = i+1

Enter a number 4
end 7
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28

In [34]:
num = int(input('Enter a number '))
end = int(input('end '))
i = 1
def table(num,end):
    while i <=end:
        print(num,'x',i,'=',num*i)
    i = i+1

Enter a number 5
end 5

In [35]:
n = int(input(''))
starting = 0
counter = 1
while counter <=n:
    starting = starting + counter
    counter = counter+1
starting

3

6

In [36]:
number = int(input())
factorial = 1
while number > 0:
    factorial = factorial*number
    number -=1
factorial

6

720

In [37]:
num = [1,2,3,4,5]
square = []

while num:
    square.append(num**2)
square

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [38]:
list = [1,2,3,45,6,4,8,9,]
[(i**2 ) for i in list]

[1, 4, 9, 2025, 36, 16, 64, 81]

In [39]:
num = [1,2,3,4,5,6]

In [40]:
[i**2 for i in num]

[1, 4, 9, 16, 25, 36]

In [41]:
[i for i in num if i%2 != 0]

[1, 3, 5]

In [42]:
ls = ['sunil','zambre','physics','NIT']

In [43]:
[i.upper() for i in ls]

['SUNIL', 'ZAMBRE', 'PHYSICS', 'NIT']

In [44]:
upper = []
for i in ls:
    upper.append(i.upper())
upper

['SUNIL', 'ZAMBRE', 'PHYSICS', 'NIT']

In [46]:
#Dictionary Comprehension
dic = {'key1':1,'key2':2,'key3':3}

In [47]:
dic.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [48]:
sq = []
for k,v in dic.items():
    sq.append(k)
    sq.append(v**2)
sq

['key1', 1, 'key2', 4, 'key3', 9]

In [49]:
[(k,v**2) for k,v in dic.items()]

[('key1', 1), ('key2', 4), ('key3', 9)]

In [50]:
((k,v**2) for k,v in dic.items())

In [51]:
dic.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])