# Program 111
#### Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This            means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
    - Examples
    - add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
    - add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
    - add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [1]:
def add_indexes(lst):
    # Use list comprehension to add index to each element
    return [i + val for i, val in enumerate(lst)]

In [2]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [3]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [4]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

# Program 112
### Create a function that takes the height and radius of a cone as arguments and returns the volume of the            cone rounded to the nearest hundredth. See the resources tab for the formula.
     - Examples
     - cone_volume(3, 2) ➞ 12.57
     - cone_volume(15, 6) ➞ 565.49
     - cone_volume(18, 0) ➞ 0

In [7]:
import math
def cone_volume(height, radius):
    if radius == 0:
        return 0
    volume = (1/3) * math.pi * (radius**2) * height
    return round(volume, 2)

In [8]:
cone_volume(3, 2)

12.57

In [9]:
cone_volume(15, 6)

565.49

In [10]:
cone_volume(18, 0)

0

# Program 113
#### This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 1, 3, 6, 10, 15
- This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
- Write a function that gives the number of dots with its corresponding triangle number of the sequence.
- Examples
  - triangle(1) ➞ 1
  - triangle(6) ➞ 21
  - triangle(215) ➞ 23220

In [11]:
def triangle(n):
    if n < 1:
        return 0
    return n * (n + 1) // 2

In [12]:
triangle(1)

1

In [13]:
triangle(6)

21

In [14]:
triangle(215)

23220

# Program 114
#### Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
- Examples
  - missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
  - missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
  - missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [15]:
def missing_num(lst):
    total_sum = sum(range(1, 11)) # Sum of numbers from 1 to 10
    given_sum = sum(lst) # Sum of the given list of numbers
    missing = total_sum - given_sum
    return missing

In [16]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [17]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [18]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

# Program 115
#### Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first                element of the list. The function should then return the updated list.
- Examples
  - next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
  - next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
  - next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
  - next_in_line([], 6) ➞ "No list has been selected"

In [19]:
def next_in_line(lst, num):
    if lst:
        lst.pop(0) # Remove the first element
        lst.append(num) # Add the number to the end
        return lst
    else:
        return "No list has been selected"

In [20]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [21]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [22]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [23]:
next_in_line([], 6)

'No list has been selected'

# Program 116
#### Create the function that takes a list of dictionaries and returns the sum of people's budgets.
  - Examples
    - get_budgets([
    { 'name': 'John', 'age': 21, 'budget': 23000 },
    { 'name': 'Steve', 'age': 32, 'budget': 40000 },
    { 'name': 'Martin', 'age': 16, 'budget': 2700 }
   ]) ➞ 65700   <br>
- get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 29000 },
{ 'name': 'Steve', 'age': 32, 'budget': 32000 },
{ 'name': 'Martin', 'age': 16, 'budget': 1600 }
]) ➞ 62600

In [24]:
def get_budgets(lst):
    total_budget = sum(person['budget'] for person in lst)
    return total_budget
# Test cases
budgets1 = [
 {'name': 'John', 'age': 21, 'budget': 23000},
 {'name': 'Steve', 'age': 32, 'budget': 40000},
 {'name': 'Martin', 'age': 16, 'budget': 2700}
]
budgets2 = [
 {'name': 'John', 'age': 21, 'budget': 29000},
 {'name': 'Steve', 'age': 32, 'budget': 32000},
 {'name': 'Martin', 'age': 16, 'budget': 1600}
]

In [25]:
get_budgets(budgets1)

65700

In [26]:
get_budgets(budgets2)

62600

# Program 117
#### Create a function that takes a string and returns a string with its letters in alphabetical order.
- Examples
  - alphabet_soup("hello") ➞ "ehllo"
  - alphabet_soup("edabit") ➞ "abdeit"
  - alphabet_soup("hacker") ➞ "acehkr"
  - alphabet_soup("geek") ➞ "eegk"
  - alphabet_soup("javascript") ➞ "aacijprstv"

In [27]:
def alphabet_soup(txt):
    return ''.join(sorted(txt))

In [28]:
alphabet_soup("hello")

'ehllo'

In [29]:
alphabet_soup("sunil")

'ilnsu'

In [30]:
alphabet_soup("PUNE")

'ENPU'

In [32]:
alphabet_soup("BHOR")

'BHOR'

In [33]:
alphabet_soup("edabit")

'abdeit'

In [34]:
alphabet_soup("hacker")

'acehkr'

In [35]:
alphabet_soup("geek")

'eegk'

In [36]:
alphabet_soup("javascript")

'aacijprstv'

# Program 118
#### Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r,
and the number of compounding periods per year n. The function returns the value at
the end of term rounded to the nearest cent.
For the example:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly
compounding there are 12 periods per year. Compounding can also be done
annually, quarterly, weekly, or daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [37]:
def compound_interest(p, t, r, n):
    # Calculate the compound interest using the formula
    a = p * (1 + (r / n)) ** (n * t)
    # Round the result to the nearest cent
    return round(a, 2)

In [38]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [39]:
compound_interest(100, 1, 0.05, 1)

105.0

In [40]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [41]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

# Program 119
#### Write a function that takes a list of elements and returns only the integers.
- Examples
- return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
- return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
- return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]
- return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [42]:
def return_only_integer(lst):
    # Use list comprehension to filter out integers
    return [x for x in lst if isinstance(x, int)]

In [43]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [44]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [45]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [46]:
return_only_integer(["String", True, 3.3, 1])

[True, 1]

# Program 120
#### Create a function that takes three parameters where:
  - x is the start of the range (inclusive).
  - y is the end of the range (inclusive).
  - n is the divisor to be checked against.
### Return an ordered list with numbers in the range that are divisible by the third parameter n.
- Return an empty list if there are no numbers that are divisible by n.
- Examples
- list_operation(1, 10, 3) ➞ [3, 6, 9]
- list_operation(7, 9, 2) ➞ [8]
- list_operation(15, 20, 7) ➞ []

In [47]:
def list_operation(x, y, n):
    # Validate inputs
    if not all(isinstance(arg, int) for arg in (x, y, n)):
        raise ValueError("All inputs must be integers")
    
    # Use list comprehension to generate the list of numbers divisible by n
    return [num for num in range(x, y + 1) if num % n == 0]

In [48]:
list_operation(1, 10, 3)

[3, 6, 9]

In [49]:
list_operation(7, 9, 2)

[8]

In [50]:
list_operation(15, 20, 7)

[]