In [1]:
def outer():
    print('Outer function started ')
    def inner():
        print("Inner fuction executed")
    return inner()
outer()

Outer function started
Inner fuction executed

In [2]:
def myf(**kid):
    print("His last name is " + kid["lname"])

myf(fname = "kavya", lname = "zambre")

def my_function(state = "Maharashtra"):
    print("I am from " + state)

my_function("Tasgaon")
my_function("Dongarsoni")
my_function()
my_function("Ayodhyanagar")

His last name is zambre
I am from Tasgaon
I am from Dongarsoni
I am from Maharashtra
I am from Ayodhyanagar

In [3]:
def f1(food):
    for x in food:
        print(x)
fruits = ["apple", "banana", "cherry","straberry","kivi"]
f1(fruits)

apple
banana
cherry
straberry
kivi

In [4]:
def my_function(x):
    return 5 * x

print(my_function(4))
print(my_function(5))
print(my_function(9))

20
25
45

In [5]:
x = lambda a : a + 10
print(x(5))
print(id(x))
print(type(x))
print(x)

15
2541462708576
<class 'function'>
<function <lambda> at 0x0000024FBAFB6160>

In [6]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [7]:
x = lambda a, b, c, d, e : a + b + c + d + e
print("The result of lamda function is",x(5, 6, 2,5,10))

The result of lamda function is 28

In [8]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [9]:
def calculate(a,b):
    print("The sum is ",a+b)
    print("The difference is ",a-b)
    print("The product is ",a*b)
    print("-------------------------")
calculate(20,10)
calculate(200,100)
calculate(2000,1000)

The sum is  30
The difference is  10
The product is  200
-------------------------
The sum is  300
The difference is  100
The product is  20000
-------------------------
The sum is  3000
The difference is  1000
The product is  2000000
-------------------------

In [10]:
a=10 #global varaible
def f1():
    #global a
    a=20    # local varaible
    print(a)
def f2():
    print(a)
f1()
f2()

20
10

In [11]:
s=lambda n:n*n 
for i in range(1,11):
    print("The square of {} is {}".format(i,s(i)))

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

In [12]:
s1=lambda a,b:a+b
for i in range(10):
    print("The addition of {} is {}".format(i,s1(i,i)))

The addition of 0 is 0
The addition of 1 is 2
The addition of 2 is 4
The addition of 3 is 6
The addition of 4 is 8
The addition of 5 is 10
The addition of 6 is 12
The addition of 7 is 14
The addition of 8 is 16
The addition of 9 is 18

In [13]:
x=input('Enter the values')
print(type(x))
print(id(x))

Enter the values125
<class 'str'>
2541445872560

In [14]:
a=[10,65,76,25,30,4,8,2,37,58,78,98,91]
def marks(n):
    if n>=40 or n>=90:
        return True
result=list(filter(marks,a))
print(result)
print(type(result))
#for i in result:
    #print(i)

[65, 76, 58, 78, 98, 91]
<class 'list'>

In [15]:
def iseven(x):
    if x%2==0:
        return True
    else:
        return False
l=[0,5,10,15,20,25,30]
l=list(filter(iseven,l))
print(l)

l=[0,5,10,15,20,25,30]
l1=list(filter(lambda x:x%2==0,l))
print(l1)
l2=list(filter(lambda x:x%2!=0,l))
print(l2)

[0, 10, 20, 30]
[0, 10, 20, 30]
[5, 15, 25]

In [16]:
l=[1,2,3,4,5,6,7]
def doubleit(x):
    return 2*x
l1=list(map(doubleit,l))
print(l1)

l1=list(map(lambda x:x*2,l))
print(l1)

[2, 4, 6, 8, 10, 12, 14]
[2, 4, 6, 8, 10, 12, 14]

In [17]:
l1=[1,2,3,4]
l2=[2,3,4,5]
l3=list(map(lambda x,y:x*y,l1,l2))
print(l3)

[2, 6, 12, 20]

In [18]:
from functools import*
l=[10,20,30,40,50]
result=reduce(lambda x,y:x+y,l)
print(result)

result=reduce(lambda x,y:x+y,range(101))
print(result)

150
5050

In [19]:
def wish(name):
    print("Good Afternoon:",name)
greeting=wish
print(id(wish))
print(id(greeting))

greeting("sunil")
wish("sunil")

del wish
greeting("santosh")
#wish('sunil')

2541462732864
2541462732864
Good Afternoon: sunil
Good Afternoon: sunil
Good Afternoon: santosh

In [20]:
def outer():
    print("outer function started ")
    def inner():
        print("inner function execution")
    print("outer function returning inner function")
    return inner
f1=outer()
f1()
f1()
f1()

outer function started
outer function returning inner function
inner function execution
inner function execution
inner function execution

In [21]:
pie=3.142
def radii(r):
    print("The are of circle is",pie*r*r)
    print("The cicumference of the circle",2*pie*r)
radii(3)
radii(5)

The are of circle is 28.278
The cicumference of the circle 18.852
The are of circle is 78.55
The cicumference of the circle 31.419999999999998

In [22]:
area=lambda pie,r1,r2:pie*r1*r2
print("",area(3.14,2,2))

 12.56