In [1]:
def counter(c):
    if c>=0:
        return c
    else :
        c+counter(c-1)
print("The recursive value is:")
counter(15)
#counter(3)

The recursive value is:

15

In [2]:
def fact(n):
        if n==0:
            return 1
        else:
            return n*fact(n-1)
#print('The factorial of 4 is:',fact(0))
#print('The factorrial of 5 is:',fact(5))
fact(7)

5040

In [3]:
sum=lambda var1,var2,var3:var1+var2+var3
print("The sum is:",sum(10,20,0.5))

The sum is: 30.5

In [4]:
for x in range(1,11):
    if x%2==0:
        print(x)

2
4
6
8
10

In [5]:
filter(lambda x:x%2==0,range(1,11))

In [6]:
list(filter(lambda x:x%2==0,range(1,11)))   #list form
tuple(filter(lambda x:x%2==0,range(1,11)))  #tuple form
set(filter(lambda x:x%2==0,range(1,11)))    #set form

{2, 4, 6, 8, 10}

In [7]:
import functools
num=[1,2,3,4,5]
functools.reduce(lambda x,y:x+y,num)

15

In [8]:
a=[1,2,3,4,5,6,7,8,9,10]
def square(x):
    return x*x
map(square,a)
list(map(square,a))
tuple(map(square,a))
set(map(square,a))

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [9]:
a=[1,2,3,4,5]
list(map(lambda x:x*x,a))

[1, 4, 9, 16, 25]

In [10]:
k=[10,20,30,40,50]
m=[1,1,1,1,1]
tuple(map(lambda x,y:x+y,k,m))

(11, 21, 31, 41, 51)

In [12]:
print(set({1,2,3,4,5,6,6,7,8,7,7,'samir',12,23,'samir'}))
setele={'run machine','hitman','superman','iron man'}
print(setele)
type(setele)

{1, 2, 3, 4, 5, 6, 7, 8, 12, 'samir', 23}
{'run machine', 'superman', 'hitman', 'iron man'}

set

In [13]:
lst=[1,2,3,4,5]
lst[3]

4

In [14]:
for i in setele:
    print(i)

run machine
superman
hitman
iron man

In [15]:
setele.add('SKY')
print(setele)

{'SKY', 'iron man', 'run machine', 'hitman', 'superman'}

In [16]:
set1=set([4,6,1,10,7,3,8,2])
print(set1)

{1, 2, 3, 4, 6, 7, 8, 10}

In [17]:
set1.add(0)
set1.add(9)
print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10}

In [18]:
set1={'Avenger','Ironman','Hitman'}
set2={'Avenger','Ironman','Hitman','Hulk2','king'}
set2.intersection(set1)
set2.union(set1)

{'Avenger', 'Hitman', 'Hulk2', 'Ironman', 'king'}

In [19]:
set1
set2

{'Avenger', 'Hitman', 'Hulk2', 'Ironman', 'king'}

In [20]:
set2.difference(set1)

{'Hulk2', 'king'}

In [21]:
set2.issuperset(set1)

True

In [22]:
set1.issuperset(set2)

False

In [23]:
set1.issubset(set2)

True

In [24]:
set2.issubset(set1)

False

In [25]:
set1.clear()
print(set1)

set()

In [26]:
set1.issubset(set2)

True

In [27]:
dict()
type(dict())

dict

In [28]:
mydict={'car1':'Audi','car2':'Tata Nexon','car3':'Honda City'}
print(mydict)
mydict['car3']
mydict['car2']
mydict.items()
mydict.keys()
mydict.values()
for x in mydict.items():
    print(x)

{'car1': 'Audi', 'car2': 'Tata Nexon', 'car3': 'Honda City'}
('car1', 'Audi')
('car2', 'Tata Nexon')
('car3', 'Honda City')

In [29]:
mydict["car4"]='Vitara breeza'
print(mydict)
for i in mydict.items():
    print(i)
for j in mydict.keys():
    print(j)
for k in mydict.values():
    print(k)

{'car1': 'Audi', 'car2': 'Tata Nexon', 'car3': 'Honda City', 'car4': 'Vitara breeza'}
('car1', 'Audi')
('car2', 'Tata Nexon')
('car3', 'Honda City')
('car4', 'Vitara breeza')
car1
car2
car3
car4
Audi
Tata Nexon
Honda City
Vitara breeza

In [30]:
carmodel1={'Audi':1960}
carmodel2={'Tata Nexon':2021}
carmodel3={'Honda City':2009}
carmodel4={'Vitara breeza':2011}
cartype={'car1':carmodel1,'car2':carmodel2,'car3':carmodel3,'car4':carmodel3}
print(cartype)

{'car1': {'Audi': 1960}, 'car2': {'Tata Nexon': 2021}, 'car3': {'Honda City': 2009}, 'car4': {'Honda City': 2009}}

In [31]:
cartype['car1'] | cartype['car2'] | cartype['car2']
cartype['car1']['Audi']

1960

In [32]:
mytuple=('santosh','rahul','anil','tushar','sunil')
print(mytuple)
print(type(mytuple))
mytuple.count('rohit')
mytuple.index('anil')
#mytuple.index[1]='rahul'

('santosh', 'rahul', 'anil', 'tushar', 'sunil')
<class 'tuple'>

2

In [34]:
val=input('Enter the number:')
valfloat=float(val)
#print(valfloat)
if(valfloat >=100):
    print("The number is graeter than 100")
else:
    print("The number is less than 100")

Enter the number:12
The number is less than 100

In [35]:
val=input('Enter the number:')
valfloat=float(val)
#print(valfloat)
if(valfloat%2==0):
    print("The number is Even")
else:
    print("The number is Odd")

Enter the number:30.45
The number is Odd

In [36]:
age=float(input('Enter your age:'))
if age<18:
    print("Minor age")
    if(age<15):
        print("You are in school")
    else:
        print("You are in college")
elif(age>=18 and age<=35):
    print("Mid age")
elif(age>45 and age<=50):
    print("Senior mid age")
else:
    print("Senior Citizen")

Enter your age:45
Senior Citizen

In [37]:
lst=[1,2,3,4,5,6,7,8,9,10]
print('The iteration is given below:')
sum1=0
for i in lst:
    sum1=sum1+i
print("\t\t\t\t",sum1)

The iteration is given below:
				 55

In [38]:
lst=[1,2,3,4,5,6,7,8,9,10]
esum=0
osum=0
for i in lst:
    if(i%2==0):
        esum=esum+i
    else:
        osum=osum+i
print("Even sum is={}".format(esum))
print("Odd sum is={}".format(osum))

Even sum is=30
Odd sum is=25

In [39]:
i=0
esum=0
osum=0
while(i<=10): 
    if(i%2==0):
        esum=esum+i
    else:
        osum=osum+i
        print(i)
    i=i+1
print(esum,osum)

1
3
5
7
9
30 25

In [40]:
x=1
while(x<10):
    print(x)
    if(x==5):
        break
    x=x+1

1
2
3
4
5

In [41]:
x=0
while x<10:
    x=x+1
    if x==4:
        continue
    print(x)

1
2
3
5
6
7
8
9
10

In [42]:
type(True)

bool

In [43]:
type(False)

bool

In [44]:
True and False

False

In [45]:
True or False

True

In [46]:
bool(1)

True

In [47]:
bool(0)

False

In [48]:
not True

False

In [49]:
age=int(input("Enter the age:"))
if age<18 or age>=35:
    print("Sucessful execution")

Enter the age:39
Sucessful execution

In [50]:
a="sunil"
b="sunil2"
a==b

False

In [52]:
age=int(input('Enter the age:'))
if age==18:
    print("You are teenager")
else:
    print("You are adult")

Enter the age:38
You are adult

In [53]:
a="santosh"
b="santosh"
print(id(a))
print(id(b))
a is b

1195955107632
1195955107632

True

In [54]:
lst1=[1,2,3,4,5]
lst2=[1,2,3,4,5]
print(id(lst1))
print(id(lst2))
lst1==lst2
lst1 is lst2
lst1 is not lst2

1195966633984
1195938444032

True

In [55]:
"sunil"!="sunil1"

True

In [56]:
str1="sunil"
str2="zambare"
print(str1+str2)
str(len(str1))
str(type(str1))

sunilzambare

"<class 'str'>"