#### 1.Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [1]:
num =int(input("Enter a number: "))
if num % 2 == 0:
    print("The entered number is even")
else:
    print("The entered number is odd")

Enter a number:  15

The entered number is odd

#### 2. Write a Python program to count the number 4 in a given list.

In [2]:
lst =[1, 4, 6, 7, 4, 4, 9, 8, 4]
count = 0
for i in lst:
    if i == 4:
        count +=1
print(count)

4

#### 3.Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [7]:
def nncopy(s,n):
    if len(s) < 2:
        return s*n
    else:
        substr = s[:2]
        return substr * 2
print(nncopy('S',3))

SSS

In [11]:
print(nncopy('Hello',3))

HeHe

In [12]:
print(nncopy('abcde',2))

abab

### 4. Write a Python program to test whether a passed letter is a vowel or not.

In [14]:
def is_vowel(letter):
    if letter in 'aeiouAEIOU':
        return True
    else:
        return False
print(is_vowel('O'))

True

In [16]:
print(is_vowel('S'))

False

In [17]:
print(is_vowel('U'))

True

### 5. Write a Python program to check whether a specified value is contained in a group of values.

In [18]:
def check(values, number):
    if number in values :
        return True
    return False
print(check([1, 2, 3, 4, 5],2))

True

In [20]:
check([12, 31, 45, 67, 90, 100],-12)

False

#### 6.Write a Python program to create a histogram from a given list of integers.

In [21]:
def hist(new):
    char ='*'
    for i in new:
        print(char * i)
hist([2, 3, 6, 5])

**
***
******
*****

In [22]:
hist([1, 2, 3, 4, 5])

*
**
***
****
*****

### 7.Write a Python program to concatenate all elements in a list into a string and return it.

In [24]:
def list_str(lst):
    st =''
    for i in lst:
        st += str(i)
    return  st
list_str([14, 10, 23, 19])

'14102319'

#### 8.Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence.

In [25]:
numbers = [    
    286, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 957, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for i in numbers:
    if i == 237: 
        print(i)
        break
    elif i % 2 == 0:
        print(i)

286
462
418
344
236
566
978
328
162
758
918
237

#### 9.Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2

In [26]:
color_lst_1 = set(["White", "Black", "Red"])
color_lst_2 = set(["Red", "Green"])

color_lst_1.difference(color_lst_2)

{'Black', 'White'}

#### 10.Write a Python program that will accept the base and height of a triangle and compute the area.

In [27]:
def tri_area(base, height):
    return (0.5 * base * height)

print(f'Area of traingle is { tri_area(20, 40)}')

Area of traingle is 400.0