# Program 121
#### Create a function that takes in two lists and returns True if the second list follows the first list by one element, and False otherwise. In other words, determine if the second list is the first list shifted to the right by 1.
- Examples
- simon_says([1, 2], [5, 1]) ➞ True
- simon_says([1, 2], [5, 5]) ➞ False
- simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True
- simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
- Notes:
  - Both input lists will be of the same length, and will have a minimum length of 2.
  - The values of the 0-indexed element in the second list and the n-1th indexed element in the first list do not matter.

In [1]:
def simon_says(list1, list2):
    # Check if the second list is the first list shifted to the right by one position
    return list1[:-1] == list2[1:]

In [2]:
simon_says([1, 2], [5, 1])

True

In [3]:
simon_says([1, 2], [5, 5])

False

In [4]:
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4])

True

In [5]:
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3])

False

# Program 122
#### A group of friends have decided to start a secret society. The name will be the first letter of each of their names, sorted in alphabetical order. Create a function that takes in a list of names and returns the name of the secret society.
- Examples
- society_name(["Adam", "Sarah", "Malcolm"]) ➞ "AMS"
- society_name(["Harry", "Newt", "Luna", "Cho"]) ➞ "CHLN"
- society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

In [6]:
def society_name(names):
    # Extract the first letter of each name, sort them, and join into a
    secret_name = ''.join(sorted([name[0] for name in names]))
    return secret_name

In [7]:
society_name(["Adam", "Sarah", "Malcolm"])

'AMS'

In [8]:
society_name(["Harry", "Newt", "Luna", "Cho"])

'CHLN'

In [10]:
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

'CJMPRR'

# Program 123
#### An isogram is a word that has no duplicate letters. Create a function that takes astring and returns either True or False 
depending on whether or not it's an "isogram".
- Examples
- is_isogram("Algorism") ➞ True
- is_isogram("PasSword") ➞ False
- Not case sensitive.
  - is_isogram("Consecutive") ➞ False
  - Notes
   - Ignore letter case (should not be case sensitive).
   - All test cases contain valid one word strings.

In [11]:
def is_isogram(word):
    # Convert the word to lowercase
    word = word.lower()

    # Create a set to store unique letters in the word
    unique_letters = set()

    # Iterate through each letter in the word
    for letter in word:
        # If the letter is already in the set, it's not an isogram
        if letter in unique_letters:
            return False
        # Otherwise, add it to the set
        unique_letters.add(letter)

    # If the loop completes without returning False, the word is an isogram
    return True

In [12]:
is_isogram("Algorism")

True

In [13]:
is_isogram("PasSword")

False

In [14]:
is_isogram("Consecutive")

False

# Program 124
### Create a function that takes a string and returns True or False, depending on whether the characters are in order or not.
- Examples
  - is_in_order("abc") ➞ True
  - is_in_order("edabit") ➞ False
  - is_in_order("123") ➞ True
  - is_in_order("xyzz") ➞ True
  - Notes
    - You don't have to handle empty strings.

In [15]:
def is_in_order(s):
 
 return s == ''.join(sorted(s))

In [16]:
is_in_order("abc")

True

In [17]:
is_in_order("edabit")

False

In [18]:
is_in_order("123")

True

In [19]:
is_in_order("xyzz")

True

# Program 125
#### Create a function that takes a number as an argument and returns True or False depending on whether the number is                      symmetrical or not. A number is symmetrical when it is the same as its reverse.
- Examples
  - is_symmetrical(7227) ➞ True
  - is_symmetrical(12567) ➞ False
  - is_symmetrical(44444444) ➞ True
  - is_symmetrical(9939) ➞ False
  - is_symmetrical(1112111) ➞ True

In [20]:
def is_symmetrical(num):
    # Convert the number to a string
    num_str = str(num)
 
    # Check if the string is equal to its reverse
    return num_str == num_str[::-1]

In [21]:
is_symmetrical(7227)

True

In [22]:
is_symmetrical(12567)

False

In [23]:
is_symmetrical(44444444)

True

In [25]:
is_symmetrical(555555)

True

In [26]:
is_symmetrical(1112111)

True

# Program 126
#### Given a string of numbers separated by a comma and space, return the product of the numbers.
- Examples
- multiply_nums("2, 3") ➞ 6
- multiply_nums("1, 2, 3, 4") ➞ 24
- multiply_nums("54, 75, 453, 0") ➞ 0
- multiply_nums("10, -2") ➞ -20

In [27]:
def multiply_nums(nums_str):
    # Split the input string by comma and space, then convert to integers
    nums = [int(num) for num in nums_str.split(", ")]

    # Initialize the result with 1
    result = 1

    # Multiply all the numbers together
    for num in nums:
        result *= num

    return result

In [28]:
multiply_nums("2, 3")

6

In [29]:
multiply_nums("1, 2, 3, 4")

24

In [30]:
multiply_nums("54, 75, 453, 0")

0

In [31]:
multiply_nums("10, -2")

-20

# Program 127
#### Create a function that squares every digit of a number.
- Examples
- square_digits(9119) ➞ 811181
- square_digits(2483) ➞ 416649
- square_digits(3212) ➞ 9414
- Notes
 - The function receives an integer and must return an integer.

In [32]:
def square_digits(n):
    # Convert the number to a string to iterate through its digits
    num_str = str(n)

    # Initialize an empty string to store the squared digits
    result_str = ""

    # Iterate through the digits
    for digit in num_str:
        # Square the digit and convert it back to an integer
        squared_digit = int(digit) ** 2

        # Append the squared digit to the result string
        result_str += str(squared_digit)

    # Convert the result string back to an integer and return
    return int(result_str)

In [33]:
square_digits(9119)

811181

In [34]:
square_digits(2483)

416649

In [35]:
square_digits(3212)

9414

# Program 128
#### Create a function that sorts a list and removes all duplicate items from it.
- Examples
 - setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
 - setify([4, 4, 4, 4]) ➞ [4]
 - setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
 - setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [36]:
def setify(lst):
    unique_set = set(sorted(lst))
 
   # Convert the set back to a list and return it
    return list(unique_set)

In [37]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [38]:
setify([4, 4, 4, 4])

[4]

In [39]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [40]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Program 129
#### Create a function that returns the mean of all digits.
- Examples
- mean(42) ➞ 3
- mean(12345) ➞ 3
- mean(666) ➞ 6
  - Notes
   - The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is                       (5+1+2)/3(number of digits) = 8/3=2).
   - The mean will always be an integer.

In [43]:
def mean_of_digits(n):
    # Convert the number to a string to iterate through its digits
    n_str = str(n)

    # Calculate the sum of digits
    digit_sum = sum(int(digit) for digit in n_str)

    # Calculate the mean by dividing the sum by the number of digits
    digit_count = len(n_str)
    digit_mean = digit_sum / digit_count

    return int(digit_mean)

In [45]:
mean_of_digits(42)

3

In [46]:
mean_of_digits(12345)

3

In [47]:
mean_of_digits(778899)

8

# Program 130
#### Create a function that takes an integer and returns a list from 1 to the given number,
- where:
- 1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
2. If the number cannot be divided evenly by 4, simply return the number.
   - Examples
     - amplify(4) ➞ [1, 2, 3, 40]
     - amplify(3) ➞ [1, 2, 3]
     - amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21,22, 23, 240, 25]
- Notes
  - The given integer will always be equal to or greater than 1.Include the number (see example above).
  - To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just     solve the challenge any way you can.

In [48]:
def amplify(num):
    # Use a list comprehension to generate the list
    return [n * 10 if n % 4 == 0 else n for n in range(1, num + 1)]

In [49]:
amplify(4)

[1, 2, 3, 40]

In [50]:
amplify(3)

[1, 2, 3]

In [51]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]