In [1]:
name ="Sunil Zambare"

In [2]:
name.swapcase()

'sUNIL zAMBARE'

In [3]:
name.title()

'Sunil Zambare'

In [4]:
name.capitalize()

'Sunil zambare'

In [5]:
#Reversing String
name[::-1]

'erabmaZ linuS'

In [6]:
reversed(name)

In [7]:
 " ".join(reversed(name))

'e r a b m a Z   l i n u S'

In [8]:
"Sunil".join("Kumar")

'KSuniluSunilmSunilaSunilr'

In [9]:
" ".join("abcd")

'a b c d'

In [10]:
" ".join(reversed("tasgaon"))

'n o a g s a t'

In [11]:
" Data Science ".join(reversed("SUN"))

'N Data Science U Data Science S'

In [12]:
str(reversed("and"))

'<reversed object at 0x000001ACED4181F0>'

In [13]:
## typecasting
list(reversed("kings"))

['s', 'g', 'n', 'i', 'k']

In [14]:
str1="Thala Kings"

In [15]:
str1

'Thala Kings'

In [16]:
"Super".join(str1)

'TSuperhSuperaSuperlSuperaSuper SuperKSuperiSupernSupergSupers'

In [17]:
#Renovung character from the end of thr string
string_a=" Python is Easy "

In [18]:
string_a.strip(" ")

'Python is Easy'

In [19]:
string_a.lstrip(" ")

'Python is Easy '

In [20]:
string_a.rstrip(" ")

' Python is Easy'

In [21]:
string_n ="Greeting to Ayodhya Super kings "
string_n.replace("to","from")

'Greeting from Ayodhya Super kings '

In [22]:
string_n ="Greeting to Royal challengers"
string_n.replace("G","T")

'Treeting to Royal challengers'

In [23]:
string_n ="Greeting to Royal challengers"
var_a=string_n.replace("G","T")
print(id(string_n))
print(id(var_a))

1842226524928
1842226515520

In [24]:
"Hello Maharashtra"

'Hello Maharashtra'

In [25]:
string_n="superkings@gmail.com"

In [26]:
var_a = string_n.replace("@"," ")
var_a

'superkings gmail.com'

In [27]:
'hello \t Maharashtra'.expandtabs()

'hello    Maharashtra'

In [28]:
str1 = "Welcome to Tasgaon.Welcome to Gra ity "

In [29]:
var_a = str1.replace("Gra","Grape" ).replace("ity","City" )
var_a

'Welcome to Tasgaon.Welcome to Grape City '

In [30]:
str1.isupper()

False

In [31]:
str1 = "SUNIL"
str1.isupper()

True

In [32]:
str1.islower()

False

In [33]:
str1.isspace()

False

In [34]:
' '.isspace()

True

In [35]:
if " ".isspace():
    print("Hello")

Hello

In [36]:
str2 = "Technical Skills"
str2.endswith("s")

True

In [37]:
str2.startswith("T")

True

In [38]:
 #check if all the character in string are alphanumeric
a ="abcd1234"
a.isnumeric()

False

In [39]:
a="abcd1234"
a.isalnum()

True

In [40]:
#to count the number of character in the string
count=0
for i in str2:
    count = count+1
print(count)

16

In [41]:
len(str2)

16

In [42]:
str2.count("k")

1

In [43]:
str2

'Technical Skills'

In [44]:
for i in str2:
    print(i,end=" ")

T e c h n i c a l   S k i l l s

In [45]:
for i in range(len(str2)):
    print(str2[i],end=" ")

T e c h n i c a l   S k i l l s

In [46]:
range(len(str2))

range(0, 16)

In [47]:
for i in range(len(str2)):
    print(i,"=",str2[i])

0 = T
1 = e
2 = c
3 = h
4 = n
5 = i
6 = c
7 = a
8 = l
9 =
10 = S
11 = k
12 = i
13 = l
14 = l
15 = s

In [48]:
#We can use index to iterate string reverse direction
for i in range(len(str2)-1,-1,-1):
    print(str2[i],end=" ")

s l l i k S   l a c i n h c e T

In [49]:
#breakdow of above line
len(str2)-1

15

In [50]:
len(str2)-1,-1

(15, -1)

In [51]:
len(str2)-1,-1,-1

(15, -1, -1)

In [52]:
for i in range(len(str2)-1,-1,-1):
    print(str2[i],end=" ")

s l l i k S   l a c i n h c e T

In [53]:
string="Data Scientist"
ch=len(string)-1
while ch>=0:
    print(string[ch],end=" ")
    ch=ch-1

t s i t n e i c S   a t a D

In [54]:
string = "This is Last phase of my career"

In [55]:
ch = len(string)-1

In [56]:
ch

30

In [57]:
string[7],string[6],string[5],string[4]

(' ', 's', 'i', ' ')

In [58]:
while ch>=0:
    print(string[ch])
    ch = ch - 1

r
e
e
r
a
c

y
m

f
o

e
s
a
h
p

t
s
a
L

s
i

s
i
h
T

In [59]:
ch

-1

In [60]:
#Best solution
for i in range(len(string)):
    print(string[len(string) - (i+1)],end="")

reerac ym fo esahp tsaL si sihT

In [61]:
#now in this tell me how check these 2 and Whether,is character is vowels or Not ?
Name = "Machine Learning"
vowels = "AaEeIiOoUu"

In [62]:
for ch in Name:
    if ch in vowels:
        print("{} is a vowel".format(ch))
    else:
        print("{} is not a vowel".format(ch))

M is not a vowel
a is a vowel
c is not a vowel
h is not a vowel
i is a vowel
n is not a vowel
e is a vowel
  is not a vowel
L is not a vowel
e is a vowel
a is a vowel
r is not a vowel
n is not a vowel
i is a vowel
n is not a vowel
g is not a vowel

## List

In [63]:
type([])

list

In [64]:
["sunil","zambare","AI developer",38]

['sunil', 'zambare', 'AI developer', 38]

In [65]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [66]:
str2

'Technical Skills'

In [67]:
list(str2)

['T',
 'e',
 'c',
 'h',
 'n',
 'i',
 'c',
 'a',
 'l',
 ' ',
 'S',
 'k',
 'i',
 'l',
 'l',
 's']

In [68]:
str1 = "technical skill is important"

In [69]:
list(str1.split(" "))

['technical', 'skill', 'is', 'important']

In [70]:
str1.split(" ")

['technical', 'skill', 'is', 'important']

In [71]:
lst1=str1.split(" ")

In [72]:
lst1[1:]

['skill', 'is', 'important']

In [73]:
lst1[0]

'technical'

In [74]:
lst1[1] = "skills"
lst1

['technical', 'skills', 'is', 'important']

In [75]:
lst1[::-2]

['important', 'skills']

In [76]:
lst1[-4::-2]

['technical']

In [77]:
#concatination operation
lst1 + ["new element",3]

['technical', 'skills', 'is', 'important', 'new element', 3]

In [78]:
# multi nested list
lst1 + [["Nested new element",3]]

['technical', 'skills', 'is', 'important', ['Nested new element', 3]]

In [79]:
lst2 = lst1 + [["new element",3]]
lst2

['technical', 'skills', 'is', 'important', ['new element', 3]]

In [80]:
lst2[-1]

['new element', 3]

In [81]:
lst2[-1][0]

'new element'

In [82]:
lst1 * 2

['technical',
 'skills',
 'is',
 'important',
 'technical',
 'skills',
 'is',
 'important']

In [83]:
lst1

['technical', 'skills', 'is', 'important']

In [84]:
if "important" in lst1:
    print("present")

present

In [85]:
for elements in lst1:
    if elements =="skills":
        print(elements)
        break

skills

In [86]:
#check elements inside a list
lst = [1,2,3,4]
4 in lst

True

In [87]:
lst1 = ["Zebra","Monkey","Donkey","Lion"]
lst2 = [5,6,2,9,5,8,6]
print(max(lst1))

Zebra

In [88]:
max(lst2)

9

In [89]:
min(lst2)

2

In [90]:
#Append
lst = [1,2,3,4,5,6]

In [91]:
lst.append("python and statistics")
lst

[1, 2, 3, 4, 5, 6, 'python and statistics']

In [92]:
lst.append(['data','science','machine learning','algorithm'])
lst

[1,
 2,
 3,
 4,
 5,
 6,
 'python and statistics',
 ['data', 'science', 'machine learning', 'algorithm']]

In [93]:
lst1 = ["Zebra","Monkey","Donkey","Lion"]
lst1.pop()

'Lion'

In [94]:
lst1

['Zebra', 'Monkey', 'Donkey']

In [95]:
lst1.pop(2)

'Donkey'

In [96]:
lst1

['Zebra', 'Monkey']

In [97]:
lst1 = ["CSK","GT","MI","SRH"]

In [98]:
lst1

['CSK', 'GT', 'MI', 'SRH']

In [99]:
removed_element = lst1.pop(0)

In [100]:
removed_element

'CSK'

In [101]:
lst1[100]

IndexError: list index out of range

In [102]:
#Sorting and Reverse methodin list
new_list=['q','e','f','s','t','u']
new_list

['q', 'e', 'f', 's', 't', 'u']

In [103]:
new_list[::-1]

['u', 't', 's', 'f', 'e', 'q']

In [104]:
new_list.reverse()

In [105]:
new_list

['u', 't', 's', 'f', 'e', 'q']

In [106]:
new_list.sort()
new_list

['e', 'f', 'q', 's', 't', 'u']

In [107]:
lst = [1,2,3,4,5,6]
lst.append(10)
lst

[1, 2, 3, 4, 5, 6, 10]

In [108]:
lst.append(["Data Science", "Emerging field in IT"])
lst

[1, 2, 3, 4, 5, 6, 10, ['Data Science', 'Emerging field in IT']]

## Nested list

In [109]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

In [110]:
# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [111]:
matrix[1]

[4, 5, 6]

In [112]:
matrix[1][2]

6

In [113]:
matrix[2][1:]

[8, 9]

In [114]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## list comprehension

In [115]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [116]:
#using list comprehension print Even numbers
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [117]:
 [i%2==0 for i in range(20)]

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [118]:
[i if i%2==0 else "OOD" for i in range(20)]

[0,
 'OOD',
 2,
 'OOD',
 4,
 'OOD',
 6,
 'OOD',
 8,
 'OOD',
 10,
 'OOD',
 12,
 'OOD',
 14,
 'OOD',
 16,
 'OOD',
 18,
 'OOD']

In [119]:
#Sum of even numbers and odd numbers
lst=[1,2,3,4,5,6,7,8]

In [120]:
lst = [1,2,3,4,5,6,7,8]
even_sum = 0
odd_sum = 0
for i in lst:
    if i % 2 ==0:
        even_sum += i
    else:
        odd_sum += i
print(f"Sum of even number:{even_sum}")
print(f"Sum of odd number:{odd_sum}")

Sum of even number:20
Sum of odd number:16

In [121]:
even_sum =sum([ num for num in lst if num%2==0])
even_sum

20

In [122]:
odd_sum=sum([ num for num in lst if num%2!=0])
odd_sum

16

In [123]:
lst=[1,2,3,4,5,6,7,8,9,10]
[num ** 2 for num in lst]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [124]:
#Create a list of only the positive numbers from a given list
numbers = [-2, -1, 0, 1, 2, 3, 4]
[num for num in numbers if num > 0]

[1, 2, 3, 4]

In [125]:
#Create a list of only the first letters of words in a list
words = ['apple', 'banana', 'cherry', 'date']
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [126]:
(9/5) * temp + 32

NameError: name 'temp' is not defined

In [127]:
#Convert a list of temperatures from Celsius to Fahrenheit uing list comprehesnion
celsius_temperatures = [0, 10, 20, 30, 40, 50]

In [128]:
[(9/5) * temp + 32 for temp in celsius_temperatures]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [129]:
#Flatten a list of lists into a single list
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [130]:
[ num for sublist in lists for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [131]:
#Create a list of only the prime numbers from a given list code and list comprehesnion
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [132]:
#Create a list of all the possible combinations of 2 elements from a list.
numbers = [1, 2, 3, 4, 5]